[submodule "prop"]
	path = prop
	url = https://github.com/ripieces/advancedfx-prop.git
	branch = prop
[submodule "shared/easywsclient"]
	path = shared/easywsclient
	url = https://github.com/ripieces/easywsclient.git
	branch = master
