[submodule "prop"]
	path = prop
	url = https://github.com/advancedfx/advancedfx-prop.git
	branch = v3
[submodule "shared/easywsclient"]
	path = shared/easywsclient
	url = https://github.com/advancedfx/easywsclient.git
	branch = master
[submodule "shared/imgui"]
	path = shared/imgui
	url = https://github.com/advancedfx/imgui.git
	branch = master
[submodule "shared/Detours"]
	path = shared/Detours
	url = https://github.com/advancedfx/Detours
	branch = master
[submodule "shared/halflife"]
	path = shared/halflife
	url = https://github.com/advancedfx/halflife.git
	branch = advancedfx
[submodule "contrib"]
	path = contrib
	url = https://github.com/advancedfx/contrib.git
	branch = master
[submodule "shared/csgo-demoinfo"]
	path = shared/csgo-demoinfo
	url = https://github.com/advancedfx/csgo-demoinfo.git
	branch = master