<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- Update this on release: Version -->
  <Bundle
    Name="HLAE Installer"
    Version="2.149.0.1"
    Manufacturer="advancedfx.org"
    UpgradeCode="{35C8D990-6C4F-4639-ADF7-D259B06E070B}"
    AboutUrl="https://www.advancedfx.org/"
    IconSourceFile="..\..\hlae\app.ico"
    Compressed="yes"
    >

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense" bal:UseUILanguages="yes">
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        SuppressOptionsUI="yes"
        LocalizationFile="lang\HyperlinkTheme_en-US.wxl"
        ThemeFile="HyperlinkSidebarTheme.xml"
        ShowVersion="yes"
      />

      <Payload Id="theme_de_de" Compressed="yes"  Name="1031\thm.wxl" SourceFile="lang\HyperlinkTheme_de-DE.wxl"/>
      <Payload Id="theme_en_us" Compressed="yes"  Name="1033\thm.wxl" SourceFile="lang\HyperlinkTheme_en-US.wxl"/>
      <Payload Id="theme_fi_fi" Compressed="yes"  Name="1035\thm.wxl" SourceFile="lang\HyperlinkTheme_fi-FI.wxl"/>
      <Payload Id="theme_hu_hu" Compressed="yes"  Name="1038\thm.wxl" SourceFile="lang\HyperlinkTheme_hu-HU.wxl"/>
      <Payload Id="theme_it_it" Compressed="yes"  Name="1040\thm.wxl" SourceFile="lang\HyperlinkTheme_it-IT.wxl"/>
      <Payload Id="theme_ja_jp" Compressed="yes"  Name="1041\thm.wxl" SourceFile="lang\HyperlinkTheme_ja-JP.wxl"/>
      <Payload Id="theme_nl_nl" Compressed="yes"  Name="1043\thm.wxl" SourceFile="lang\HyperlinkTheme_nl-NL.wxl"/>
      <Payload Id="theme_pl_pl" Compressed="yes"  Name="1045\thm.wxl" SourceFile="lang\HyperlinkTheme_pl-PL.wxl"/>
      <Payload Id="theme_pt_br" Compressed="yes"  Name="1046\thm.wxl" SourceFile="lang\HyperlinkTheme_pt-BR.wxl"/>
      <Payload Id="theme_pt_pt" Compressed="yes"  Name="2070\thm.wxl" SourceFile="lang\HyperlinkTheme_pt-PT.wxl"/>
      <Payload Id="theme_ru_ru" Compressed="yes"  Name="1049\thm.wxl" SourceFile="lang\HyperlinkTheme_ru-RU.wxl"/>
      <Payload Id="theme_tr_tr" Compressed="yes"  Name="1055\thm.wxl" SourceFile="lang\HyperlinkTheme_tr-TR.wxl"/>
      <Payload Id="theme_zh_zn" Compressed="yes"  Name="2052\thm.wxl" SourceFile="lang\HyperlinkTheme_zh-CN.wxl"/>
    </BootstrapperApplicationRef>

    <Variable Name='InstallFolder' Type='string' Value='[ProgramFilesFolder]HLAE' Persisted='yes' bal:Overridable='yes'/>
    <Variable Name="LangId" Type="string" Value="" Persisted="no" bal:Overridable="yes" />
    <Variable Name='HlaeRemoveAppData' Type='numeric' Value='0' Persisted='no' bal:Overridable='yes' />

    <Chain>
      <PackageGroupRef Id="NetFx462Web" />
      <RollbackBoundary />
      <PackageGroupRef Id="HlaeCore" />
    </Chain>


  </Bundle>

  <Fragment>

    <PackageGroup Id="HlaeCore">
      <ExePackage Id="DeleteHlaeAppData" DisplayName="CheckDeleteHlaeAppData" SourceFile="$(var.DeleteHlaeAppData.TargetPath)" Compressed="yes" PerMachine="yes" UninstallCommand="EXECUTE [HlaeRemoveAppData]" Vital="no" DetectCondition="WixBundleInstalled" Cache="no" />
      <MsiPackage SourceFile="$(var.HlaeCore.en-us.TargetPath)" Compressed="yes" Vital="yes" DisplayInternalUI="yes" EnableFeatureSelection="no" Visible="yes" After="DeleteHlaeAppData">
        <MsiProperty Name='APPLICATIONFOLDER' Value='[InstallFolder]' />
        <MsiProperty Name='TRANSFORMS' Value='[LangId]' />
        <Payload Id="HlaeCore_de_de" Compressed="yes" Name="1031" SourceFile="$(var.HlaeCore.TargetDir)de-de\HlaeCore.mst"/>
        <Payload Id="HlaeCore_fi_fi" Compressed="yes" Name="1035" SourceFile="$(var.HlaeCore.TargetDir)fi-fi\HlaeCore.mst"/>
        <Payload Id="HlaeCore_hu_hu" Compressed="yes" Name="1038" SourceFile="$(var.HlaeCore.TargetDir)hu-hu\HlaeCore.mst"/>
        <Payload Id="HlaeCore_it_it" Compressed="yes" Name="1040" SourceFile="$(var.HlaeCore.TargetDir)it-it\HlaeCore.mst"/>
        <Payload Id="HlaeCore_ja_jp" Compressed="yes" Name="1041" SourceFile="$(var.HlaeCore.TargetDir)ja-jp\HlaeCore.mst"/>
        <Payload Id="HlaeCore_nl_nl" Compressed="yes" Name="1043" SourceFile="$(var.HlaeCore.TargetDir)nl-nl\HlaeCore.mst"/>
        <Payload Id="HlaeCore_pl_pl" Compressed="yes" Name="1045" SourceFile="$(var.HlaeCore.TargetDir)pl-pl\HlaeCore.mst"/>
        <Payload Id="HlaeCore_pt_br" Compressed="yes" Name="1046" SourceFile="$(var.HlaeCore.TargetDir)pt-br\HlaeCore.mst"/>
        <Payload Id="HlaeCore_pt_pt" Compressed="yes" Name="2070" SourceFile="$(var.HlaeCore.TargetDir)pt-pt\HlaeCore.mst"/>
        <Payload Id="HlaeCore_ru_ru" Compressed="yes" Name="1049" SourceFile="$(var.HlaeCore.TargetDir)ru-ru\HlaeCore.mst"/>
        <Payload Id="HlaeCore_tr_tr" Compressed="yes" Name="1055" SourceFile="$(var.HlaeCore.TargetDir)tr-tr\HlaeCore.mst"/>
        <Payload Id="HlaeCore_zh_zn" Compressed="yes" Name="2052" SourceFile="$(var.HlaeCore.TargetDir)zh-cn\HlaeCore.mst"/>
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
