<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="FfmpegDlg" Width="370" Height="270" Title="!(loc.FfmpegTitle)">
        
        <Control Id="FfmepgReinstallCheck" Type="CheckBox" X="6" Y="52" Width="358" Height="16" Text="!(loc.FfmpegDlgReinstall)" Property="FFMPEG_REINSTALL" CheckBoxValue="1" Disabled="yes">
          <Condition Action="enable"><![CDATA[FFMPEG_WASINSTALLED]]></Condition>
          <Condition Action="disable"><![CDATA[NOT(FFMPEG_WASINSTALLED)]]></Condition>
        </Control>

        <Control Id="FfmpegVersionText" Type="Text" X="6" Y="74" Width="358" Height="12" Text="!(loc.FfmpegDlgVersion)" Disabled="no" Hidden="no">
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL]]></Condition>
        </Control>
        <Control Id="FfmpegVersion" Type="ComboBox" X="6" Y="86" Width="358" Height="16" Property="FFMPEG_VERSION" ComboList="yes" Sorted="yes" Disabled="no" Hidden="no">
          <ComboBox Property="FFMPEG_VERSION">
            <ListItem Text="!(loc.FfmpegDlgCustom)" Value="custom"/>
            <ListItem Text="6.1.1-win64-gpl //github.com/BtbN/FFmpeg-Builds/releases/tag/autobuild-2024-02-29-13-02" Value="latest-win64-static" />
            <ListItem Text="6.1.1-win64-gpl-shared //github.com/BtbN/FFmpeg-Builds/releases/tag/autobuild-2024-02-29-13-02" Value="latest-win64-shared" />
            <ListItem Text="6.1.1-win64-lgpl //github.com/BtbN/FFmpeg-Builds/releases/tag/autobuild-2024-02-29-13-02" Value="latest-win64-static-lgpl" />
            <ListItem Text="6.1.1-win64-lgpl-shared //github.com/BtbN/FFmpeg-Builds/releases/tag/autobuild-2024-02-29-13-02" Value="latest-win64-shared-lgpl" />
           </ComboBox>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL]]></Condition>
        </Control>

        <Control Id="FfmpegDownloadedText" Type="Text" X="6" Y="108" Width="358" Height="24" Text="!(loc.FfmpegDlgDownloaded)" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLinkingText" Type="Text" X="6" Y="138" Width="358" Height="12" Text="!(loc.FfmpegDlgLinking)" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLinkingStaticLabelText" Type="Text" X="6" Y="150" Width="100" Height="12" Text="static:" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLinkingStaticDescText" Type="Text" X="100" Y="150" Width="258" Height="12" Text="!(loc.FfmpegDlgStatic)" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLinkingSharedLabelText" Type="Text" X="6" Y="162" Width="100" Height="12" Text="shared:" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLinkingSharedDescText" Type="Text" X="100" Y="162" Width="258" Height="12" Text="!(loc.FfmpegDlgShared)" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLicenseText" Type="Text" X="6" Y="180" Width="358" Height="12" Text="!(loc.FfmpegDlgLicense)" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLicenseGpl3LabelText" Type="Text" X="6" Y="192" Width="100" Height="12" Text="gpl:" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLicenseGpl3DescText" Type="Text" X="100" Y="192" Width="258" Height="12" Text="!(loc.FfmpegDlgGpl3)" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLicenseLgpl3LabelText" Type="Text" X="6" Y="204" Width="100" Height="12" Text="lpgl:" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        <Control Id="FfmpegLicenseLgpl3DescText" Type="Text" X="100" Y="204" Width="258" Height="12" Text="!(loc.FfmpegDlgLgpl3)" Disabled="no" Hidden="no">
          <Condition Action="show"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="hide"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" <> FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR "custom" = FFMPEG_VERSION]]></Condition>
        </Control>
        
        <Control Id="FfmpegPathText" Type="Text" X="6" Y="108" Width="358" Height="12" Text="!(loc.FfmpegDlgPath)" Disabled="no" Hidden="yes">
          <Condition Action="show"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="hide"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR NOT ("custom" = FFMPEG_VERSION)]]></Condition>
        </Control>
        <Control Id="FfmpegPath" Type="Edit" X="6" Y="120" Width="260" Height="18" TabSkip="no" Property="FFMPEG_CUSTOM" Disabled="yes" Hidden="yes">
          <Condition Action="show"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="hide"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Publish Event="DoAction" Value="ValidateFfmpegCustomPathAction"><![CDATA[FFMPEG_VERSION = "custom"]]></Publish>
        </Control>
        <Control Id="FfmpegPathBrowse" Type="PushButton" X="266" Y="120" Width="100" Height="18" Text="!(loc.FfmpegDlgPathBrowse)" Disabled="yes" Hidden="yes">
          <Condition Action="show"><![CDATA["custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="hide"><![CDATA[NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Condition Action="enable"><![CDATA[FFMPEG_REINSTALL AND "custom" = FFMPEG_VERSION]]></Condition>
          <Condition Action="disable"><![CDATA[NOT FFMPEG_REINSTALL OR NOT ("custom" = FFMPEG_VERSION)]]></Condition>
          <Publish Event="DoAction" Value="FfmpegCustomPathDlgAction">1</Publish>
          <Publish Event="DoAction" Value="ValidateFfmpegCustomPathAction">1</Publish>
          <Publish Property="FFMPEG_CUSTOM" Value="[FFMPEG_CUSTOM]">1</Publish>
        </Control>
        <Control Id="FfmpegPathError" Type="Text" X="6" Y="138" Width="362" Height="56" Text="!(loc.FfmpegDlgPathError)" Disabled="no" Hidden="yes">
          <Condition Action="show"><![CDATA[FFMPEG_REINSTALL AND FFMPEG_VERSION = "custom" AND NOT (AFX_FFMPEGPATH_OK = "1")]]></Condition>
          <Condition Action="hide"><![CDATA[NOT (FFMPEG_REINSTALL AND FFMPEG_VERSION = "custom" AND NOT (AFX_FFMPEGPATH_OK = "1"))]]></Condition>
        </Control>

        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
			<Condition Action="disable">Installed AND (RESUME OR Preselected)</Condition>
			<Condition Action="hide">Installed AND (RESUME OR Preselected)</Condition>
		</Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
        <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.SetupTypeDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.FfmpegDlgTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.FfmpegDlgDescription)" />      
      </Dialog>
    </UI>
  </Fragment>
</Wix>
