<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Update this on release: Id, Version -->
	<Product
    Id="{9B54EAF8-9D2F-4F33-BED4-AB55D26FBA05}"
    Version="2.95.1"
    Name="!(loc.ApplicationName)"
    Language="1033"
    Manufacturer="!(loc.Manufacturer)"
    UpgradeCode="{33FEF63B-4A17-4D59-ABC9-B7A06BD07F07}"
    Codepage="1252"
    >

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

    <MediaTemplate EmbedCab="yes" />

		<Feature Id="HlaeCoreFeature" Title="!(loc.ApplicationName)" Level="1" Display="expand">
      <ComponentGroupRef Id="HlaeCoreComponents" />
      <ComponentGroupRef Id="LocalesComponentGroup" />
      <ComponentRef Id="HlaeStartProgramsFolder"/>
      <Feature Id="FfmpegFeature" Title="!(loc.FfmpegFeature)" Level="1" Display="expand">
        <Condition Level="0">AFX_INSTALLFFMPEG=0</Condition>
        <ComponentGroupRef Id="FfmpegComponents" />
      </Feature>
    </Feature>

    <Icon Id="icon.ico" SourceFile="../../hlae/app.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <Property Id="ApplicationFolderName" Value="HLAE" />
    
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    
    <UIRef Id="WixUI_ErrorProgressText"/>

    <UI>
      <ProgressText Action="InstallFfmpeg">!(loc.InstallFfmpeg)</ProgressText>
      
      <UIText Id="InstallFfmpegConnect">!(loc.InstallFfmpegConnect)</UIText>
      <UIText Id="InstallFfmpegConnect_Template">!(loc.InstallFfmpegConnect_Template)</UIText>
      <UIText Id="InstallFfmpegDownload">!(loc.InstallFfmpegDownload)</UIText>
      <UIText Id="InstallFfmpegDownload_Template">!(loc.InstallFfmpegDownload_Template)</UIText>
      <UIText Id="InstallFfmpegExtract">!(loc.InstallFfmpegExtract)</UIText>
      <UIText Id="InstallFfmpegExtract_Template">!(loc.InstallFfmpegExtract_Template)</UIText>

      <Error Id="25001">!(loc.AppFolderMustBeLatin)</Error>
    </UI>

    <InstallExecuteSequence>
      <Custom Action="ValidateAppFolderIsLatinAction" Before="CostFinalize" />
      <Custom Action="RollbackFfmpegPrepareAction" Before="RollbackFfmpegAction"><![CDATA[&FfmpegFeature = 3 And !FfmpegFeature <> 3]]></Custom>
      <Custom Action="RollbackFfmpegAction" Before="InstallFfmpegAction"><![CDATA[&FfmpegFeature = 3 And !FfmpegFeature <> 3]]></Custom>
      <Custom Action="InstallFfmpegPrepareAction" Before="InstallFfmpegAction"><![CDATA[&FfmpegFeature = 3 Or REINSTALL And !FfmpegFeature = 3]]></Custom>
      <Custom Action="InstallFfmpegAction" Before="InstallFinalize"><![CDATA[&FfmpegFeature = 3 Or REINSTALL And !FfmpegFeature = 3]]></Custom>
      <Custom Action="UninstallFfmpegPrepareAction" Before="UninstallFfmpegAction"><![CDATA[&FfmpegFeature <> 3 And !FfmpegFeature = 3]]></Custom>
      <Custom Action="UninstallFfmpegAction" Before="RemoveFiles"><![CDATA[&FfmpegFeature <> 3 And !FfmpegFeature = 3]]></Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <SetProperty Action="SetValidateAppFolderIsLatinAction" Id="APPLICATIONFOLDER" Value="[APPLICATIONFOLDER]" Before="ValidateAppFolderIsLatinAction" Sequence="execute" />
    <SetProperty Action="SetRollbackFfmpegPrepareAction" Id="AFX_FFMPEGFOLDER" Value="[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="RollbackFfmpegPrepareAction" Sequence="execute" />
    <SetProperty Action="SetInstallFfmpegPrepareAction" Id="AFX_FFMPEGFOLDER" Value="[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="InstallFfmpegPrepareAction" Sequence="execute" />
    <SetProperty Action="SetUninstallFfmpegPrepareAction" Id="AFX_FFMPEGFOLDER" Value="[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="UninstallFfmpegPrepareAction" Sequence="execute" />
    <Binary Id='HlaeCoreExtension' SourceFile='$(var.HlaeCoreExtension.TargetDir)HlaeCoreExtension.CA.dll'/>
    <CustomAction Id='ValidateAppFolderIsLatinAction' BinaryKey='HlaeCoreExtension' DllEntry='ValidateAppFolderIsLatin' Execute='immediate' Return='check'/>
    <CustomAction Id='RollbackFfmpegPrepareAction' BinaryKey='HlaeCoreExtension' DllEntry='UninstallFfmpegPrepare' Execute='immediate' Return='check'/>
    <CustomAction Id='RollbackFfmpegAction' BinaryKey='HlaeCoreExtension' DllEntry='UninstallFfmpeg' Execute='rollback' Impersonate='no' Return='check'/>
    <CustomAction Id='InstallFfmpegPrepareAction' BinaryKey='HlaeCoreExtension' DllEntry='InstallFfmpegPrepare' Execute='immediate' Return='check'/>
    <CustomAction Id='InstallFfmpegAction' BinaryKey='HlaeCoreExtension' DllEntry='InstallFfmpeg' Execute='deferred' Impersonate='no' Return='check'/>
    <CustomAction Id='UninstallFfmpegPrepareAction' BinaryKey='HlaeCoreExtension' DllEntry='UninstallFfmpegPrepare' Execute='immediate' Return='check'/>
    <CustomAction Id='UninstallFfmpegAction' BinaryKey='HlaeCoreExtension' DllEntry='UninstallFfmpeg' Execute='deferred' Impersonate='no' Return='check'/>
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="HLAE">
          <Directory Id="LocalesDir" />
          <Directory Id="_AD7A334E_0A23_4B94_85C9_08787F6CF6F2_LICENSES" Name="LICENSES">
            <Directory Id="_F695B8AB_011A_4452_8E8B_4A826D9E9658_advancedfx" Name="advancedfx"/>
            <Directory Id="_027C3A38_DE56_4037_9580_6A8F717B8BCF_Detours" Name="Detours"/>
            <Directory Id="_F4899D02_33F2_48E8_8C94_A6C46969D4F2_easywsclient" Name="easywsclient"/>
            <Directory Id="_C0A01E1E_60DD_46FD_AD7A_043A799FE097_NGettext" Name="NGettext"/>
            <Directory Id="_835A5D0A_7E34_4482_A37C_CD4C239B672A_OpenEXR" Name="OpenEXR"/>
            <Directory Id="_A2BAEDDB_9517_4413_8519_DD79B7A7E1F0_rapidxml" Name="rapidxml"/>
            <Directory Id="_D7529765_EBE7_44D2_A7DA_A1B6BB8ABC04_zlib" Name="zlib"/>
          </Directory>
          <Directory Id="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" Name="ffmpeg"/>
          <Directory Id="_1A4E1985_37D7_4828_89AF_74CB62961F9B_resources" Name="resources">
            <Directory Id="_9423B897_D98B_4B2A_902C_B2BABBAB8684_AfxHookSource" Name="AfxHookSource">
              <Directory Id="_CBF99E3D_5120_43DD_9DBE_CE9BB9237DB3_assets" Name="assets">
                <Directory Id="_1D14FCB5_7D99_4638_B56C_97BC3F24B0CF_csgo" Name="csgo">
                  <Directory Id="_72FEEA20_FD6D_46B6_8A13_ECF9A4AF4E53_cfg" Name="cfg">
                    <Directory Id="_B695D2F9_79F9_47B9_A128_0DE8E483B0D5_afx" Name="afx"/>
                  </Directory>
                  <Directory Id="_E9B0E96C_0178_4098_8BEE_527319B93E8D_materials" Name="materials">
                    <Directory Id="_25EC2233_0930_4012_B883_CE3B862E21AA_afx" Name="afx">
                      <Directory Id="_47A63A61_90B2_4E8B_B10D_EA5EBB23DA8F_wh" Name="wh" />
                    </Directory>
                  </Directory>
                </Directory>
              </Directory>
               <Directory Id="_B4871446_F005_4BE5_82CA_AFA82BC89A76_shaders" Name="shaders">
               </Directory>
            </Directory>
          </Directory>
          <Directory Id="_018947D0_AEA0_42CB_A184_76D6EBD5CF9D_x64" Name="x64" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="HLAE"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="_F695B8AB_011A_4452_8E8B_4A826D9E9658_advancedfx">
      <Component Id="_EB7D4DF0_111A_4E26_9D2F_54C0FA86014C_LICENSE">
        <File Id="_EB7D4DF0_111A_4E26_9D2F_54C0FA86014C_LICENSE" Name="LICENSE" Source="$(var.hlae.TargetDir)\LICENSES\advancedfx\LICENSE" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="_027C3A38_DE56_4037_9580_6A8F717B8BCF_Detours">
      <Component Id="_8F522F24_EDFE_485F_9A91_C44F0E2C1DC6_LICENSE.md">
        <File Id="_8F522F24_EDFE_485F_9A91_C44F0E2C1DC6_LICENSE.md" Name="LICENSE.md" Source="$(var.hlae.TargetDir)\LICENSES\Detours\LICENSE.md" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="_F4899D02_33F2_48E8_8C94_A6C46969D4F2_easywsclient">
      <Component Id="_20A0F8EF_737D_4851_8A86_55E6997A06D9_COPYING">
        <File Id="_20A0F8EF_737D_4851_8A86_55E6997A06D9_COPYING" Name="COPYING" Source="$(var.hlae.TargetDir)\LICENSES\easywsclient\COPYING" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="_C0A01E1E_60DD_46FD_AD7A_043A799FE097_NGettext">
      <Component Id="_F8757444_6FC6_491F_B1A1_62428841FB3B_LICENSE">
        <File Id="_F8757444_6FC6_491F_B1A1_62428841FB3B_LICENSE" Name="LICENSE" Source="$(var.hlae.TargetDir)\LICENSES\NGettext\LICENSE" KeyPath="yes"/>
      </Component>
    </DirectoryRef>


    <DirectoryRef Id="_835A5D0A_7E34_4482_A37C_CD4C239B672A_OpenEXR">
      <Component Id="_C0E080A1_B853_400F_88B1_E25310D4478FR_LICENSE">
        <File Id="_C0E080A1_B853_400F_88B1_E25310D4478FR_LICENSE" Name="LICENSE" Source="$(var.hlae.TargetDir)\LICENSES\OpenEXR\LICENSE" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="_A2BAEDDB_9517_4413_8519_DD79B7A7E1F0_rapidxml">
      <Component Id="_FCD2D2A8_1D6D_41E7_A4DF_CFC889EC53D9_license.txt">
        <File Id="_FCD2D2A8_1D6D_41E7_A4DF_CFC889EC53D9_license.txt" Name="license.txt" Source="$(var.hlae.TargetDir)\LICENSES\rapidxml\license.txt" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="_D7529765_EBE7_44D2_A7DA_A1B6BB8ABC04_zlib">
      <Component Id="_5F7056F2_3BF6_4B6B_897E_7F28BDBF051F_README">
        <File Id="_5F7056F2_3BF6_4B6B_897E_7F28BDBF051F_README" Name="README" Source="$(var.hlae.TargetDir)\LICENSES\zlib\README" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="_B695D2F9_79F9_47B9_A128_0DE8E483B0D5_afx">
      <Component Id="_CF1FC747_A46B_427B_A0E6_7C8FE595A3C3_updateWorkaround.cfg">
        <File Id="_CF1FC747_A46B_427B_A0E6_7C8FE595A3C3_updateWorkaround.cfg" Name="updateWorkaround.cfg" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\cfg\afx\updateWorkaround.cfg" KeyPath="yes"/>
      </Component>
      <Component Id="_3D4D72C2_1905_4131_B4E5_AFF7DAA11B04_wh.cfg">
        <File Id="_3D4D72C2_1905_4131_B4E5_AFF7DAA11B04_wh.cfg" Name="wh.cfg" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\cfg\afx\wh.cfg" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="_47A63A61_90B2_4E8B_B10D_EA5EBB23DA8F_wh">
      <Component Id="_B1156701_763D_4873_9DC7_AFC673C74EEC_cable.vmt">
        <File Id="_B1156701_763D_4873_9DC7_AFC673C74EEC_cable.vmt" Name="cable.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\cable.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_4A49475A_7421_442B_B967_EDDFB1FC40CD_ct.vmt">
        <File Id="_4A49475A_7421_442B_B967_EDDFB1FC40CD_ct.vmt" Name="ct.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\ct.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_6882FE23_7776_4462_91F5_3622D225EABB_level.vmt">
        <File Id="_6882FE23_7776_4462_91F5_3622D225EABB_level.vmt" Name="level.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\level.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_2DEB32BE_3861_4DA5_AF44_497FCA7276A2_level.vtf">
        <File Id="_2DEB32BE_3861_4DA5_AF44_497FCA7276A2_level.vtf" Name="level.vtf" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\level.vtf" KeyPath="yes"/>
      </Component>
      <Component Id="_AA00FC99_B1DD_4A63_A115_BCF32796B155_levelLit.vmt">
        <File Id="_AA00FC99_B1DD_4A63_A115_BCF32796B155_levelLit.vmt" Name="levelLit.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\levelLit.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_0490E210_4E12_4D6C_AE65_96051455982D_smokeOverlay.vmt">
        <File Id="_0490E210_4E12_4D6C_AE65_96051455982D_smokeOverlay.vmt" Name="smokeOverlay.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\smokeOverlay.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_C7022318_1D84_4379_826B_47F09411EC71_smokeOverlay.vtf">
        <File Id="_C7022318_1D84_4379_826B_47F09411EC71_smokeOverlay.vtf" Name="smokeOverlay.vtf" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\smokeOverlay.vtf" KeyPath="yes"/>
      </Component>
      <Component Id="_37BD9C72_DA14_455E_B9C7_8A15FB4E3A2A_t.vmt">
        <File Id="_37BD9C72_DA14_455E_B9C7_8A15FB4E3A2A_t.vmt" Name="t.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\t.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_90441118_ADE2_46F2_8719_4592B1314594_vistasmokev1.vmt">
        <File Id="_90441118_ADE2_46F2_8719_4592B1314594_vistasmokev1.vmt" Name="vistasmokev1.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\vistasmokev1.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_3D8B84AD_1450_413F_B968_763F247FD5CC_emods.vmt">
        <File Id="_3D8B84AD_1450_413F_B968_763F247FD5CC_emods.vmt" Name="vistasmokev1_emods.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\vistasmokev1_emods.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_30B7F39A_86A8_4843_BDC2_F441BB2D20DB_vistasmokev1_emods.vtf">
        <File Id="_30B7F39A_86A8_4843_BDC2_F441BB2D20DB_vistasmokev1_emods.vtf" Name="vistasmokev1_emods.vtf" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\vistasmokev1_emods.vtf" KeyPath="yes"/>
      </Component>
      <Component Id="_1EFC94BE_CBB0_4C51_93C9_6F1AAC3083BA_vistasmokev1_emods_impactdust.vmt">
        <File Id="_1EFC94BE_CBB0_4C51_93C9_6F1AAC3083BA_vistasmokev1_emods_impactdust.vmt" Name="vistasmokev1_emods_impactdust.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\vistasmokev1_emods_impactdust.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_87895CB5_C658_4833_A29A_E4765B5FE7C1_vistasmokev1_fire.vmt">
        <File Id="_87895CB5_C658_4833_A29A_E4765B5FE7C1_vistasmokev1_fire.vmt" Name="vistasmokev1_fire.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\vistasmokev1_fire.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_4EB313B7_0A64_4893_85BD_9B14CA1D8CFD_vistasmokev1_smokegrenade.vmt">
        <File Id="_4EB313B7_0A64_4893_85BD_9B14CA1D8CFD_vistasmokev1_smokegrenade.vmt" Name="vistasmokev1_smokegrenade.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\vistasmokev1_smokegrenade.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_464EA2FD_3F6C_4116_AEA1_67CB46542B8D_weapon.vmt">
        <File Id="_464EA2FD_3F6C_4116_AEA1_67CB46542B8D_weapon.vmt" Name="weapon.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\wh\weapon.vmt" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="_25EC2233_0930_4012_B883_CE3B862E21AA_afx">
      <Component Id="_81FC657C_C6CF_43A2_8758_2AB1B9FCFEE5_black.vmt">
        <File Id="_81FC657C_C6CF_43A2_8758_2AB1B9FCFEE5_black.vmt" Name="black.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\black.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_9E4D3E39_96E2_4509_B29D_FF208355B365_depth.vmt">
        <File Id="_9E4D3E39_96E2_4509_B29D_FF208355B365_depth.vmt" Name="depth.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\depth.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_0DD3FC48_2A90_4BA2_B441_7A6D98554209_greenmatte.vmt">
        <File Id="_0DD3FC48_2A90_4BA2_B441_7A6D98554209_greenmatte.vmt" Name="greenmatte.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\greenmatte.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_825AB636_C242_4318_9C50_A57F44EFB15B_invisible.vmt">
        <File Id="_825AB636_C242_4318_9C50_A57F44EFB15B_invisible.vmt" Name="invisible.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\invisible.vmt" KeyPath="yes"/>
      </Component>
      <Component Id="_C02A48D5_F6C5_4640_AE87_513E2AD0D49F_white.vmt">
        <File Id="_C02A48D5_F6C5_4640_AE87_513E2AD0D49F_white.vmt" Name="white.vmt" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\assets\csgo\materials\afx\white.vmt" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="_B4871446_F005_4BE5_82CA_AFA82BC89A76_shaders">
      <Component Id="_0CB9488D_55CA_4C19_9651_CD983BD33421_afx_depth_ps20.acs">
        <File Id="_0CB9488D_55CA_4C19_9651_CD983BD33421_afx_depth_ps20.acs" Name="afx_depth_ps20.acs" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\shaders\afx_depth_ps20.acs" KeyPath="yes"/>
      </Component>     
      <Component Id="_6C7D4E77_FA29_4429_BD9E_A5CC15F23053_afx_drawtexture_ps20.acs">
        <File Id="_6C7D4E77_FA29_4429_BD9E_A5CC15F23053_afx_drawtexture_ps20.acs" Name="afx_drawtexture_ps20.acs" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\shaders\afx_drawtexture_ps20.acs" KeyPath="yes"/>
      </Component>
      <Component Id="_1DB8FCD7_3757_492D_ADBE_02C585117299_afx_line_ps20.acs">
        <File Id="_1DB8FCD7_3757_492D_ADBE_02C585117299_afx_line_ps20.acs" Name="afx_line_ps20.acs" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\shaders\afx_line_ps20.acs" KeyPath="yes"/>
      </Component>
      <Component Id="_2A096550_36C7_4DFB_A4CE_6894B76CF0FD_afx_line_vs20.acs">
        <File Id="_2A096550_36C7_4DFB_A4CE_6894B76CF0FD_afx_line_vs20.acs" Name="afx_line_vs20.acs" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\shaders\afx_line_vs20.acs" KeyPath="yes"/>
      </Component>
      <Component Id="_03B61B14_16E4_480D_B3BD_1E6E39B15485_afx_pgldraw_ps20.acs">
        <File Id="_03B61B14_16E4_480D_B3BD_1E6E39B15485_afx_pgldraw_ps20.acs" Name="afx_pgldraw_ps20.acs" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\shaders\afx_pgldraw_ps20.acs" KeyPath="yes"/>
      </Component>
      <Component Id="_FF3795FC_3A94_4251_A78C_608F3A22E678_afx_pgldraw_vs20.acs">
        <File Id="_FF3795FC_3A94_4251_A78C_608F3A22E678_afx_pgldraw_vs20.acs" Name="afx_pgldraw_vs20.acs" Source="$(var.hlae.TargetDir)\resources\AfxHookSource\shaders\afx_pgldraw_vs20.acs" KeyPath="yes"/>
      </Component>
    </DirectoryRef>    
    
    <DirectoryRef Id="_018947D0_AEA0_42CB_A184_76D6EBD5CF9D_x64">
      <Component Id="_BE94EA23_C739_4490_9586_924C5D31DE5E_AfxHook.dat">
        <File Id="_BE94EA23_C739_4490_9586_924C5D31DE5E_AfxHook.dat" Name="AfxHook.dat" Source="$(var.hlae.TargetDir)\x64\AfxHook.dat" KeyPath="yes"/>
      </Component>
      <Component Id="_370BF1EB_879C_41C5_975D_F30E77F104C3_injector.exe">
        <File Id="_370BF1EB_879C_41C5_975D_F30E77F104C3_injector.exe" Name="injector.exe" Source="$(var.hlae.TargetDir)\x64\injector.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="APPLICATIONFOLDER">   
      <Component Id="_62B9CDB6_744E_4FE5_BAEC_CC23B08C5657_advancedfx.org.url">
        <File Id="_62B9CDB6_744E_4FE5_BAEC_CC23B08C5657_advancedfx.org.url" Name="advancedfx.org.url" Source="$(var.hlae.TargetDir)\advancedfx.org.url" KeyPath="yes"/>
      </Component>
      <Component Id="_51E4C0D0_A235_49E0_AD78_3B2F14A96AA8_AfxCppCli.dll">
        <File Id="_51E4C0D0_A235_49E0_AD78_3B2F14A96AA8_AfxCppCli.dll" Name="AfxCppCli.dll" Source="$(var.hlae.TargetDir)\AfxCppCli.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_6B70FFEA_F781_4C08_8F45_7C51E1808CE0_AfxHook.dat">
        <File Id="_6B70FFEA_F781_4C08_8F45_7C51E1808CE0_AfxHook.dat" Name="AfxHook.dat" Source="$(var.hlae.TargetDir)\AfxHook.dat" KeyPath="yes"/>
      </Component>
      <Component Id="_831350DE_4DF4_4909_8731_8A7A016EBE2D_AfxHookGoldSrc.dll">
        <File Id="_831350DE_4DF4_4909_8731_8A7A016EBE2D_AfxHookGoldSrc.dll" Name="AfxHookGoldSrc.dll" Source="$(var.hlae.TargetDir)\AfxHookGoldSrc.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_B23AE55F_91D8_4C37_B9FC_0032693BD59C_AfxHookGoldSrc_changelog.xml">
        <File Id="_B23AE55F_91D8_4C37_B9FC_0032693BD59C_AfxHookGoldSrc_changelog.xml" Name="AfxHookGoldSrc_changelog.xml" Source="$(var.hlae.TargetDir)\AfxHookGoldSrc_changelog.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_6CD5A3E4_26C8_451E_B5DA_11624A930F73_AfxHookSource.dll">
        <File Id="_6CD5A3E4_26C8_451E_B5DA_11624A930F73_AfxHookSource.dll" Name="AfxHookSource.dll" Source="$(var.hlae.TargetDir)\AfxHookSource.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_1E758ACC_1F3E_4D05_B6BF_069BC32FBC74_AfxHookSource_changelog.xml">
        <File Id="_1E758ACC_1F3E_4D05_B6BF_069BC32FBC74_AfxHookSource_changelog.xml" Name="AfxHookSource_changelog.xml" Source="$(var.hlae.TargetDir)\AfxHookSource_changelog.xml" KeyPath="yes"/>
      </Component>
      <Component Id="_346F1D2A_5ED6_42DE_94DB_6298126454DB_ucrt">
        <File Id="_346F1D2A_5ED6_42DE_94DB_6298126454DB_ucrt" Name="api-ms-win-core-console-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-console-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_8C5AA770_50D0_40D5_B520_87B2B51F9C29_ucrt">
        <File Id="_8C5AA770_50D0_40D5_B520_87B2B51F9C29_ucrt" Name="api-ms-win-core-datetime-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-datetime-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_B84DDCEF_951A_417F_BE69_F36EF716191F_ucrt">
        <File Id="_B84DDCEF_951A_417F_BE69_F36EF716191F_ucrt" Name="api-ms-win-core-debug-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-debug-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_CC735AD5_4C2C_4546_AE1F_B1277D8A8560_ucrt">
        <File Id="_CC735AD5_4C2C_4546_AE1F_B1277D8A8560_ucrt" Name="api-ms-win-core-errorhandling-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-errorhandling-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_C88C0954_0AE5_40C6_B143_0E2FA12A07EC_ucrt">
        <File Id="_C88C0954_0AE5_40C6_B143_0E2FA12A07EC_ucrt" Name="api-ms-win-core-file-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-file-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_4EB8CD44_32FB_40AC_95BB_7F6B28FF8363_ucrt">
        <File Id="_4EB8CD44_32FB_40AC_95BB_7F6B28FF8363_ucrt" Name="api-ms-win-core-file-l1-2-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-file-l1-2-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_AF4DEEA6_D385_43AE_B46B_543906A7DEA6_ucrt">
        <File Id="_AF4DEEA6_D385_43AE_B46B_543906A7DEA6_ucrt" Name="api-ms-win-core-file-l2-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-file-l2-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_D9A3DECF_8085_49F8_96CB_AD23EE695140_ucrt">
        <File Id="_D9A3DECF_8085_49F8_96CB_AD23EE695140_ucrt" Name="api-ms-win-core-handle-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-handle-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_9819BF6C_9D24_4C06_94EE_621AE0CD68D4_ucrt">
        <File Id="_9819BF6C_9D24_4C06_94EE_621AE0CD68D4_ucrt" Name="api-ms-win-core-heap-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-heap-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_6BC3D7B8_5B2E_480F_85DF_97F24C04EBDB_ucrt">
        <File Id="_6BC3D7B8_5B2E_480F_85DF_97F24C04EBDB_ucrt" Name="api-ms-win-core-interlocked-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-interlocked-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_CA4C792C_A129_46DB_9C9C_EEF4F9A29AF6_ucrt">
        <File Id="_CA4C792C_A129_46DB_9C9C_EEF4F9A29AF6_ucrt" Name="api-ms-win-core-libraryloader-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-libraryloader-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_3FBD37B8_5A3C_4C2B_9AD9_EBFAC01225A7_ucrt">
        <File Id="_3FBD37B8_5A3C_4C2B_9AD9_EBFAC01225A7_ucrt" Name="api-ms-win-core-localization-l1-2-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-localization-l1-2-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_30C437A3_9E2E_43F5_9075_72A8F1FB060B_ucrt">
        <File Id="_30C437A3_9E2E_43F5_9075_72A8F1FB060B_ucrt" Name="api-ms-win-core-memory-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-memory-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_2DACF462_2613_4519_8F93_D109B52D02DE_ucrt">
        <File Id="_2DACF462_2613_4519_8F93_D109B52D02DE_ucrt" Name="api-ms-win-core-namedpipe-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-namedpipe-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_96001553_3D9C_4B11_8E00_D020DD2D360C_ucrt">
        <File Id="_96001553_3D9C_4B11_8E00_D020DD2D360C_ucrt" Name="api-ms-win-core-processenvironment-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-processenvironment-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_DEA9F078_536A_4857_BF55_68B0D7DE413C_ucrt">
        <File Id="_DEA9F078_536A_4857_BF55_68B0D7DE413C_ucrt" Name="api-ms-win-core-processthreads-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-processthreads-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_B60FD5A2_FECB_4F85_8641_1938B133D778_ucrt">
        <File Id="_B60FD5A2_FECB_4F85_8641_1938B133D778_ucrt" Name="api-ms-win-core-processthreads-l1-1-1.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-processthreads-l1-1-1.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_90D9F0F0_F941_4ADE_95D3_ED53A4705C59_ucrt">
        <File Id="_90D9F0F0_F941_4ADE_95D3_ED53A4705C59_ucrt" Name="api-ms-win-core-profile-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-profile-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_8163CF1A_C6EA_4051_BB45_D353F176B1C2_ucrt">
        <File Id="_8163CF1A_C6EA_4051_BB45_D353F176B1C2_ucrt" Name="api-ms-win-core-rtlsupport-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-rtlsupport-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_B7F95FD4_A48D_4430_80D4_A56959814E26_ucrt">
        <File Id="_B7F95FD4_A48D_4430_80D4_A56959814E26_ucrt" Name="api-ms-win-core-string-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-string-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_D1B80644_0D2C_452F_A0C5_D2A962CE546D_ucrt">
        <File Id="_D1B80644_0D2C_452F_A0C5_D2A962CE546D_ucrt" Name="api-ms-win-core-synch-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-synch-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_0A52265C_9F72_48B2_AC4B_82C64EA5334E_ucrt">
        <File Id="_0A52265C_9F72_48B2_AC4B_82C64EA5334E_ucrt" Name="api-ms-win-core-synch-l1-2-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-synch-l1-2-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_199B120F_033A_4571_A0BE_1403CCF3DAE0_ucrt">
        <File Id="_199B120F_033A_4571_A0BE_1403CCF3DAE0_ucrt" Name="api-ms-win-core-sysinfo-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-sysinfo-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_5B307211_48BF_4D68_8CFB_BDAF76DC92B6_ucrt">
        <File Id="_5B307211_48BF_4D68_8CFB_BDAF76DC92B6_ucrt" Name="api-ms-win-core-timezone-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-timezone-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_AE60F616_03F6_44D3_A263_3921CD2CF619_ucrt">
        <File Id="_AE60F616_03F6_44D3_A263_3921CD2CF619_ucrt" Name="api-ms-win-core-util-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-core-util-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_B6E5E169_D8A6_42F6_AA39_027A42C8AB5F_ucrt">
        <File Id="_B6E5E169_D8A6_42F6_AA39_027A42C8AB5F_ucrt" Name="API-MS-Win-core-xstate-l2-1-0.dll" Source="$(var.hlae.TargetDir)\API-MS-Win-core-xstate-l2-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_651DF577_0EAE_4FC2_80AA_E59C84EEEB60_ucrt">
        <File Id="_651DF577_0EAE_4FC2_80AA_E59C84EEEB60_ucrt" Name="api-ms-win-crt-conio-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-conio-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_54B14B16_071F_4B19_B17D_00142865F55B_ucrt">
        <File Id="_54B14B16_071F_4B19_B17D_00142865F55B_ucrt" Name="api-ms-win-crt-convert-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-convert-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_894148C1_7906_434A_98CA_1BAE8DBEC72A_ucrt">
        <File Id="_894148C1_7906_434A_98CA_1BAE8DBEC72A_ucrt" Name="api-ms-win-crt-environment-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-environment-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_21173705_2797_4522_9B65_A1FB8A7C2211_ucrt">
        <File Id="_21173705_2797_4522_9B65_A1FB8A7C2211_ucrt" Name="api-ms-win-crt-filesystem-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-filesystem-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_1943AC41_F815_4140_A7F9_2D311B3E439F_ucrt">
        <File Id="_1943AC41_F815_4140_A7F9_2D311B3E439F_ucrt" Name="api-ms-win-crt-heap-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-heap-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_8C944F49_A3ED_4CC8_95FF_26356AC8CF8B_ucrt">
        <File Id="_8C944F49_A3ED_4CC8_95FF_26356AC8CF8B_ucrt" Name="api-ms-win-crt-locale-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-locale-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_F5BDBCEA_BD53_47B0_B644_2AD81E633D67_ucrt">
        <File Id="_F5BDBCEA_BD53_47B0_B644_2AD81E633D67_ucrt" Name="api-ms-win-crt-math-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-math-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_3349B2E5_AF54_4387_AC4C_5CCA1D11804A_ucrt">
        <File Id="_3349B2E5_AF54_4387_AC4C_5CCA1D11804A_ucrt" Name="api-ms-win-crt-multibyte-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-multibyte-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_70315A15_FC1D_49B0_9AB5_538C5FB625C3_ucrt">
        <File Id="_70315A15_FC1D_49B0_9AB5_538C5FB625C3_ucrt" Name="api-ms-win-crt-private-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-private-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_D09D82C0_B220_4687_9ED4_D0BD693D3F33_ucrt">
        <File Id="_D09D82C0_B220_4687_9ED4_D0BD693D3F33_ucrt" Name="api-ms-win-crt-process-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-process-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_C468AD2A_54A7_4D04_A039_82AEFB8AFC7E_ucrt">
        <File Id="_C468AD2A_54A7_4D04_A039_82AEFB8AFC7E_ucrt" Name="api-ms-win-crt-runtime-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-runtime-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_4797E6AD_0B0E_40B1_B4CE_5BF3ACC73177_ucrt">
        <File Id="_4797E6AD_0B0E_40B1_B4CE_5BF3ACC73177_ucrt" Name="api-ms-win-crt-stdio-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-stdio-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_7EB2079D_D2B2_4A05_8B6A_6E83B4E15022_ucrt">
        <File Id="_7EB2079D_D2B2_4A05_8B6A_6E83B4E15022_ucrt" Name="api-ms-win-crt-string-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-string-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_6A5D26D1_2B74_4145_8C98_1CACD6ACE199_ucrt">
        <File Id="_6A5D26D1_2B74_4145_8C98_1CACD6ACE199_ucrt" Name="api-ms-win-crt-time-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-time-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_F7ECCE60_3218_4B8C_A335_C8FFA58C28AD_ucrt">
        <File Id="_F7ECCE60_3218_4B8C_A335_C8FFA58C28AD_ucrt" Name="api-ms-win-crt-utility-l1-1-0.dll" Source="$(var.hlae.TargetDir)\api-ms-win-crt-utility-l1-1-0.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_6EB9B47F_1B2F_417D_8F6F_70516A68AA02_changelog.xml">
        <File Id="_6EB9B47F_1B2F_417D_8F6F_70516A68AA02_changelog.xml" Name="changelog.xml" Source="$(var.hlae.TargetDir)\changelog.xml" KeyPath="yes"/>
      </Component>
      <Component Id="_9F5B9A8B_58E1_43B7_A5C0_D65AE2FDAEF7_changelog.xsl">
        <File Id="_9F5B9A8B_58E1_43B7_A5C0_D65AE2FDAEF7_changelog.xsl" Name="changelog.xsl" Source="$(var.hlae.TargetDir)\changelog.xsl" KeyPath="yes"/>
      </Component>
      <Component Id="_73CC32AE_2421_46DC_A0CA_07E4F07919A8_concrt140.dll">
        <File Id="_73CC32AE_2421_46DC_A0CA_07E4F07919A8_concrt140.dll" Name="concrt140.dll" Source="$(var.hlae.TargetDir)\concrt140.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_BDDDD824_C405_4A6F_98FD_A1C04614D150_Half_2_4.dll">
        <File Id="_BDDDD824_C405_4A6F_98FD_A1C04614D150_Half_2_4.dll" Name="Half-2_4.dll" Source="$(var.hlae.TargetDir)\Half-2_4.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe">
        <File Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe" Name="HLAE.exe" Source="$(var.hlae.TargetDir)\HLAE.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Id="HaleStartMenuShortcut" 
                    Name="HLAE"
                    Directory="ApplicationProgramsFolder"
                    Description="Half-Life Advanced Effects"
                    WorkingDirectory="APPLICATIONFOLDER"
                    Icon="icon.ico"
                    Advertise="yes"/>
        </File>
      </Component>
      <Component Id="_382A679D_8B60_4F2F_9A7C_93B5C5691EFE_Iex_2_4.dll">
        <File Id="_382A679D_8B60_4F2F_9A7C_93B5C5691EFE_Iex_2_4.dll" Name="Iex-2_4.dll" Source="$(var.hlae.TargetDir)\Iex-2_4.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_C04FC447_3B97_42F1_ABE7_0DB8DF70B61E_IexMath_2_4.dll">
        <File Id="_C04FC447_3B97_42F1_ABE7_0DB8DF70B61E_IexMath_2_4.dll" Name="IexMath-2_4.dll" Source="$(var.hlae.TargetDir)\IexMath-2_4.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_8003CAB9_B3E6_4DCC_9075_96805E2CE099_IlmImf_2_4.dll">
        <File Id="_8003CAB9_B3E6_4DCC_9075_96805E2CE099_IlmImf_2_4.dll" Name="IlmImf-2_4.dll" Source="$(var.hlae.TargetDir)\IlmImf-2_4.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_6A77C106_9189_4913_B6EB_2F5A2FCC327A_IlmThread_2_4.dll">
        <File Id="_6A77C106_9189_4913_B6EB_2F5A2FCC327A_IlmThread_2_4.dll" Name="IlmThread-2_4.dll" Source="$(var.hlae.TargetDir)\IlmThread-2_4.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_374D319E_CB4A_4962_9D1D_8DEDB7811ED8_Imath_2_4.dll">
        <File Id="_374D319E_CB4A_4962_9D1D_8DEDB7811ED8_Imath_2_4.dll" Name="Imath-2_4.dll" Source="$(var.hlae.TargetDir)\Imath-2_4.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_8A45D18B_686E_4963_954C_BDE043D9A3DC_injector.exe">
        <File Id="_8A45D18B_686E_4963_954C_BDE043D9A3DC_injector.exe" Name="injector.exe" Source="$(var.hlae.TargetDir)\injector.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_1FDB31B6_5D13_4133_923A_888D2C815595_msvcp140.dll">
        <File Id="_1FDB31B6_5D13_4133_923A_888D2C815595_msvcp140.dll" Name="msvcp140.dll" Source="$(var.hlae.TargetDir)\msvcp140.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_4787489A_FFB9_4C18_BF4E_98F000833FCB_msvcp140_1.dll">
        <File Id="_4787489A_FFB9_4C18_BF4E_98F000833FCB_msvcp140_1.dll" Name="msvcp140_1.dll" Source="$(var.hlae.TargetDir)\msvcp140_1.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_F2655C7F_CCA6_4DBB_8BEE_96C0B57E52DF_msvcp140_2.dll">
        <File Id="_F2655C7F_CCA6_4DBB_8BEE_96C0B57E52DF_msvcp140_2.dll" Name="msvcp140_2.dll" Source="$(var.hlae.TargetDir)\msvcp140_2.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_4E60A51F_0792_4DD3_800D_8AAECA225232_msvcp140_codecvt_ids.dll">
        <File Id="_4E60A51F_0792_4DD3_800D_8AAECA225232_msvcp140_codecvt_ids.dll" Name="msvcp140_codecvt_ids.dll" Source="$(var.hlae.TargetDir)\msvcp140_codecvt_ids.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_1412DBAD_01F6_42A3_BB37_BCEA97D0B860_NGettext.dll">
        <File Id="_1412DBAD_01F6_42A3_BB37_BCEA97D0B860_NGettext.dll" Name="NGettext.dll" Source="$(var.hlae.TargetDir)\NGettext.dll" KeyPath="yes"/>
      </Component>
      <Component Id="_81F77EA7_5D0D_4145_B929_BEB438C2FE82_readme.txt">
        <File Id="_81F77EA7_5D0D_4145_B929_BEB438C2FE82_readme.txt" Name="readme.txt" Source="$(var.hlae.TargetDir)\readme.txt" KeyPath="yes"/>
      </Component>
      <Component Id="_02F9D20E_C59E_4D01_A9F8_9CCB48C3FC64_ucrtbase.dll">
        <File Id="_02F9D20E_C59E_4D01_A9F8_9CCB48C3FC64_ucrtbase.dll" Name="ucrtbase.dll" Source="$(var.hlae.TargetDir)\ucrtbase.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_3F7746C4_344C_4798_87AA_8AF2037DE414_vccorlib140.dll">
        <File Id="_3F7746C4_344C_4798_87AA_8AF2037DE414_vccorlib140.dll" Name="vccorlib140.dll" Source="$(var.hlae.TargetDir)\vccorlib140.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_6D5037A7_CB99_4A15_A0A9_748B04BFD869_vcruntime140.dll">
        <File Id="_6D5037A7_CB99_4A15_A0A9_748B04BFD869_vcruntime140.dll" Name="vcruntime140.dll" Source="$(var.hlae.TargetDir)\vcruntime140.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="_D4A10668_7785_4A2F_B613_05302B3D36F5_zlib1.dll">
        <File Id="_D4A10668_7785_4A2F_B613_05302B3D36F5_zlib1.dll" Name="zlib1.dll" Source="$(var.hlae.TargetDir)\zlib1.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="{22E1FC75-9BBA-4B86-BE8E-E7D50E44B6E6}">
        <RegistryKey Root="HKLM"
                     Key="Software\advancedfx\HLAE">
          <RegistryValue Type="string" Name="APPLICATIONFOLDER" Value="[APPLICATIONFOLDER]" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>    
    
    <Component Id="HlaeStartProgramsFolder" Guid="{89D3440C-0559-449F-B3A9-686573945374}"  Directory="ApplicationProgramsFolder">
        <RemoveFolder Id="CleanUpHlaeShortCut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\advancedfx\HLAE" Name="scut" Value="1" Type="integer" KeyPath="yes"/>
    </Component> 

    <ComponentGroup Id="HlaeCoreComponents" Directory="APPLICATIONFOLDER">
      <ComponentRef Id="RegistryEntries"/>
      <ComponentRef Id="_EB7D4DF0_111A_4E26_9D2F_54C0FA86014C_LICENSE"/>
      <ComponentRef Id="_8F522F24_EDFE_485F_9A91_C44F0E2C1DC6_LICENSE.md"/>
      <ComponentRef Id="_20A0F8EF_737D_4851_8A86_55E6997A06D9_COPYING"/>
      <ComponentRef Id="_F8757444_6FC6_491F_B1A1_62428841FB3B_LICENSE"/>
      <ComponentRef Id="_C0E080A1_B853_400F_88B1_E25310D4478FR_LICENSE"/>
      <ComponentRef Id="_FCD2D2A8_1D6D_41E7_A4DF_CFC889EC53D9_license.txt"/>
      <ComponentRef Id="_5F7056F2_3BF6_4B6B_897E_7F28BDBF051F_README"/>
      <ComponentRef Id="_CF1FC747_A46B_427B_A0E6_7C8FE595A3C3_updateWorkaround.cfg"/>
      <ComponentRef Id="_3D4D72C2_1905_4131_B4E5_AFF7DAA11B04_wh.cfg"/>
      <ComponentRef Id="_B1156701_763D_4873_9DC7_AFC673C74EEC_cable.vmt"/>
      <ComponentRef Id="_4A49475A_7421_442B_B967_EDDFB1FC40CD_ct.vmt"/>
      <ComponentRef Id="_6882FE23_7776_4462_91F5_3622D225EABB_level.vmt"/>
      <ComponentRef Id="_2DEB32BE_3861_4DA5_AF44_497FCA7276A2_level.vtf"/>
      <ComponentRef Id="_AA00FC99_B1DD_4A63_A115_BCF32796B155_levelLit.vmt"/>
      <ComponentRef Id="_0490E210_4E12_4D6C_AE65_96051455982D_smokeOverlay.vmt"/>
      <ComponentRef Id="_C7022318_1D84_4379_826B_47F09411EC71_smokeOverlay.vtf"/>
      <ComponentRef Id="_37BD9C72_DA14_455E_B9C7_8A15FB4E3A2A_t.vmt"/>
      <ComponentRef Id="_90441118_ADE2_46F2_8719_4592B1314594_vistasmokev1.vmt"/>
      <ComponentRef Id="_3D8B84AD_1450_413F_B968_763F247FD5CC_emods.vmt"/>
      <ComponentRef Id="_30B7F39A_86A8_4843_BDC2_F441BB2D20DB_vistasmokev1_emods.vtf"/>
      <ComponentRef Id="_1EFC94BE_CBB0_4C51_93C9_6F1AAC3083BA_vistasmokev1_emods_impactdust.vmt"/>
      <ComponentRef Id="_87895CB5_C658_4833_A29A_E4765B5FE7C1_vistasmokev1_fire.vmt"/>
      <ComponentRef Id="_4EB313B7_0A64_4893_85BD_9B14CA1D8CFD_vistasmokev1_smokegrenade.vmt"/>
      <ComponentRef Id="_464EA2FD_3F6C_4116_AEA1_67CB46542B8D_weapon.vmt"/>
      <ComponentRef Id="_37BD9C72_DA14_455E_B9C7_8A15FB4E3A2A_t.vmt"/>
      <ComponentRef Id="_9E4D3E39_96E2_4509_B29D_FF208355B365_depth.vmt"/>
      <ComponentRef Id="_0DD3FC48_2A90_4BA2_B441_7A6D98554209_greenmatte.vmt"/>
      <ComponentRef Id="_825AB636_C242_4318_9C50_A57F44EFB15B_invisible.vmt"/>
      <ComponentRef Id="_C02A48D5_F6C5_4640_AE87_513E2AD0D49F_white.vmt"/>
      <ComponentRef Id="_81FC657C_C6CF_43A2_8758_2AB1B9FCFEE5_black.vmt"/>   
      <ComponentRef Id="_0CB9488D_55CA_4C19_9651_CD983BD33421_afx_depth_ps20.acs"/>     
      <ComponentRef Id="_6C7D4E77_FA29_4429_BD9E_A5CC15F23053_afx_drawtexture_ps20.acs"/>
      <ComponentRef Id="_1DB8FCD7_3757_492D_ADBE_02C585117299_afx_line_ps20.acs"/>
      <ComponentRef Id="_2A096550_36C7_4DFB_A4CE_6894B76CF0FD_afx_line_vs20.acs"/>
      <ComponentRef Id="_03B61B14_16E4_480D_B3BD_1E6E39B15485_afx_pgldraw_ps20.acs"/>
      <ComponentRef Id="_FF3795FC_3A94_4251_A78C_608F3A22E678_afx_pgldraw_vs20.acs"/>            
      <ComponentRef Id="_BE94EA23_C739_4490_9586_924C5D31DE5E_AfxHook.dat"/>
      <ComponentRef Id="_370BF1EB_879C_41C5_975D_F30E77F104C3_injector.exe"/>
      <ComponentRef Id="_62B9CDB6_744E_4FE5_BAEC_CC23B08C5657_advancedfx.org.url"/>
      <ComponentRef Id="_51E4C0D0_A235_49E0_AD78_3B2F14A96AA8_AfxCppCli.dll"/>
      <ComponentRef Id="_6B70FFEA_F781_4C08_8F45_7C51E1808CE0_AfxHook.dat"/>
      <ComponentRef Id="_831350DE_4DF4_4909_8731_8A7A016EBE2D_AfxHookGoldSrc.dll"/>
      <ComponentRef Id="_B23AE55F_91D8_4C37_B9FC_0032693BD59C_AfxHookGoldSrc_changelog.xml"/>
      <ComponentRef Id="_6CD5A3E4_26C8_451E_B5DA_11624A930F73_AfxHookSource.dll"/>
      <ComponentRef Id="_1E758ACC_1F3E_4D05_B6BF_069BC32FBC74_AfxHookSource_changelog.xml"/>
      <ComponentRef Id="_346F1D2A_5ED6_42DE_94DB_6298126454DB_ucrt"/>
      <ComponentRef Id="_8C5AA770_50D0_40D5_B520_87B2B51F9C29_ucrt"/>
      <ComponentRef Id="_B84DDCEF_951A_417F_BE69_F36EF716191F_ucrt"/>
      <ComponentRef Id="_CC735AD5_4C2C_4546_AE1F_B1277D8A8560_ucrt"/>
      <ComponentRef Id="_C88C0954_0AE5_40C6_B143_0E2FA12A07EC_ucrt"/>
      <ComponentRef Id="_4EB8CD44_32FB_40AC_95BB_7F6B28FF8363_ucrt"/>
      <ComponentRef Id="_AF4DEEA6_D385_43AE_B46B_543906A7DEA6_ucrt"/>
      <ComponentRef Id="_D9A3DECF_8085_49F8_96CB_AD23EE695140_ucrt"/>
      <ComponentRef Id="_9819BF6C_9D24_4C06_94EE_621AE0CD68D4_ucrt"/>
      <ComponentRef Id="_6BC3D7B8_5B2E_480F_85DF_97F24C04EBDB_ucrt"/>
      <ComponentRef Id="_CA4C792C_A129_46DB_9C9C_EEF4F9A29AF6_ucrt"/>
      <ComponentRef Id="_3FBD37B8_5A3C_4C2B_9AD9_EBFAC01225A7_ucrt"/>
      <ComponentRef Id="_30C437A3_9E2E_43F5_9075_72A8F1FB060B_ucrt"/>
      <ComponentRef Id="_2DACF462_2613_4519_8F93_D109B52D02DE_ucrt"/>
      <ComponentRef Id="_96001553_3D9C_4B11_8E00_D020DD2D360C_ucrt"/>
      <ComponentRef Id="_DEA9F078_536A_4857_BF55_68B0D7DE413C_ucrt"/>
      <ComponentRef Id="_B60FD5A2_FECB_4F85_8641_1938B133D778_ucrt"/>
      <ComponentRef Id="_90D9F0F0_F941_4ADE_95D3_ED53A4705C59_ucrt"/>
      <ComponentRef Id="_8163CF1A_C6EA_4051_BB45_D353F176B1C2_ucrt"/>
      <ComponentRef Id="_B7F95FD4_A48D_4430_80D4_A56959814E26_ucrt"/>
      <ComponentRef Id="_D1B80644_0D2C_452F_A0C5_D2A962CE546D_ucrt"/>
      <ComponentRef Id="_0A52265C_9F72_48B2_AC4B_82C64EA5334E_ucrt"/>
      <ComponentRef Id="_199B120F_033A_4571_A0BE_1403CCF3DAE0_ucrt"/>
      <ComponentRef Id="_5B307211_48BF_4D68_8CFB_BDAF76DC92B6_ucrt"/>
      <ComponentRef Id="_AE60F616_03F6_44D3_A263_3921CD2CF619_ucrt"/>
      <ComponentRef Id="_B6E5E169_D8A6_42F6_AA39_027A42C8AB5F_ucrt"/>
      <ComponentRef Id="_651DF577_0EAE_4FC2_80AA_E59C84EEEB60_ucrt"/>
      <ComponentRef Id="_54B14B16_071F_4B19_B17D_00142865F55B_ucrt"/>
      <ComponentRef Id="_894148C1_7906_434A_98CA_1BAE8DBEC72A_ucrt"/>
      <ComponentRef Id="_21173705_2797_4522_9B65_A1FB8A7C2211_ucrt"/>
      <ComponentRef Id="_1943AC41_F815_4140_A7F9_2D311B3E439F_ucrt"/>
      <ComponentRef Id="_8C944F49_A3ED_4CC8_95FF_26356AC8CF8B_ucrt"/>
      <ComponentRef Id="_F5BDBCEA_BD53_47B0_B644_2AD81E633D67_ucrt"/>
      <ComponentRef Id="_3349B2E5_AF54_4387_AC4C_5CCA1D11804A_ucrt"/>
      <ComponentRef Id="_70315A15_FC1D_49B0_9AB5_538C5FB625C3_ucrt"/>
      <ComponentRef Id="_D09D82C0_B220_4687_9ED4_D0BD693D3F33_ucrt"/>
      <ComponentRef Id="_C468AD2A_54A7_4D04_A039_82AEFB8AFC7E_ucrt"/>
      <ComponentRef Id="_4797E6AD_0B0E_40B1_B4CE_5BF3ACC73177_ucrt"/>
      <ComponentRef Id="_7EB2079D_D2B2_4A05_8B6A_6E83B4E15022_ucrt"/>
      <ComponentRef Id="_6A5D26D1_2B74_4145_8C98_1CACD6ACE199_ucrt"/>
      <ComponentRef Id="_F7ECCE60_3218_4B8C_A335_C8FFA58C28AD_ucrt"/>
      <ComponentRef Id="_6EB9B47F_1B2F_417D_8F6F_70516A68AA02_changelog.xml"/>
      <ComponentRef Id="_9F5B9A8B_58E1_43B7_A5C0_D65AE2FDAEF7_changelog.xsl"/>
      <ComponentRef Id="_73CC32AE_2421_46DC_A0CA_07E4F07919A8_concrt140.dll"/>
      <ComponentRef Id="_BDDDD824_C405_4A6F_98FD_A1C04614D150_Half_2_4.dll"/>
      <ComponentRef Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe"/>
      <ComponentRef Id="_382A679D_8B60_4F2F_9A7C_93B5C5691EFE_Iex_2_4.dll"/>
      <ComponentRef Id="_C04FC447_3B97_42F1_ABE7_0DB8DF70B61E_IexMath_2_4.dll"/>
      <ComponentRef Id="_8003CAB9_B3E6_4DCC_9075_96805E2CE099_IlmImf_2_4.dll"/>
      <ComponentRef Id="_6A77C106_9189_4913_B6EB_2F5A2FCC327A_IlmThread_2_4.dll"/>
      <ComponentRef Id="_374D319E_CB4A_4962_9D1D_8DEDB7811ED8_Imath_2_4.dll"/>
      <ComponentRef Id="_8A45D18B_686E_4963_954C_BDE043D9A3DC_injector.exe"/>
      <ComponentRef Id="_1FDB31B6_5D13_4133_923A_888D2C815595_msvcp140.dll"/>
      <ComponentRef Id="_4787489A_FFB9_4C18_BF4E_98F000833FCB_msvcp140_1.dll"/>
      <ComponentRef Id="_F2655C7F_CCA6_4DBB_8BEE_96C0B57E52DF_msvcp140_2.dll"/>
      <ComponentRef Id="_4E60A51F_0792_4DD3_800D_8AAECA225232_msvcp140_codecvt_ids.dll"/>
      <ComponentRef Id="_1412DBAD_01F6_42A3_BB37_BCEA97D0B860_NGettext.dll"/>
      <ComponentRef Id="_81F77EA7_5D0D_4145_B929_BEB438C2FE82_readme.txt"/>
      <ComponentRef Id="_02F9D20E_C59E_4D01_A9F8_9CCB48C3FC64_ucrtbase.dll"/>
      <ComponentRef Id="_3F7746C4_344C_4798_87AA_8AF2037DE414_vccorlib140.dll"/>
      <ComponentRef Id="_6D5037A7_CB99_4A15_A0A9_748B04BFD869_vcruntime140.dll"/>
      <ComponentRef Id="_D4A10668_7785_4A2F_B613_05302B3D36F5_zlib1.dll"/>
    </ComponentGroup>
	</Fragment>

  <Fragment>

    <DirectoryRef Id="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg">
      <Component Id="_32A1AD35_1386_4C8E_9D64_E1D87AD71BD8_ffmpeg" Guid="{6650098A-1807-499D-8F48-B8F9D5558872}">
        <CreateFolder Directory="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" />
        <ReserveCost Id="_8CC723EF_BAEC_4D2C_A894_D9ACAB71FE2A_reserve" Directory="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" RunFromSource="250000000" RunLocal="250000000" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="FfmpegComponents" Directory="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg">
      <ComponentRef Id="_32A1AD35_1386_4C8E_9D64_E1D87AD71BD8_ffmpeg" />
    </ComponentGroup>
  </Fragment>
</Wix>
