<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--
	Update this on "Major" release: Id, Version.
	Update this on Minor release: Version.
	For more information to decide between "Major" and Minor see here:
	https://www.firegiant.com/wix/tutorial/upgrades-and-modularization/
	-->
	<Product
    Id='{D51C3178-146A-412E-9C91-D7D6788B0E0C}'
    Version='2.143.0'
    Name="!(loc.ApplicationName)"
    Language="1033"
    Manufacturer="!(loc.Manufacturer)"
    UpgradeCode="{33FEF63B-4A17-4D59-ABC9-B7A06BD07F07}"
    Codepage="1252"
    >

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />


	<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

	<MediaTemplate EmbedCab="yes" />
       
    <Icon Id="HLAEIcon.exe" SourceFile="$(sys.SOURCEFILEDIR)../../hlae/app.ico"/>
    <Property Id="ARPPRODUCTICON" Value="HLAEIcon.exe" />
    
    <Property Id="ApplicationFolderName" Value="HLAE" />
    
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    
    <Property Id="FFMPEG_REINSTALL" Value="1" Secure="yes" />
    <Property Id="_FFMPEG_REINSTALL" Value="#1">
      <RegistrySearch Id="FFMPEG_REINSTALL_reg" Type="raw" Root="HKLM" Key="Software\advancedfx\HLAE\FFMPEG" Name="reinstall"  />
    </Property>
    <SetProperty Sequence="first" Action="SetFFMPEG_REINSTALL_1" Id="FFMPEG_REINSTALL" After="AppSearch" Value="1"><![CDATA[_FFMPEG_REINSTALL = "#1" OR INSTALL AND NOT REINSTALL OR WIX_UPGRADE_DETECTED ]]></SetProperty>
    <SetProperty Sequence="first" Action="SetFFMPEG_REINSTALL_0" Id="FFMPEG_REINSTALL" After="AppSearch" Value="{}"><![CDATA[NOT (_FFMPEG_REINSTALL = "#1" OR INSTALL AND NOT REINSTALL OR WIX_UPGRADE_DETECTED )]]></SetProperty>

    <Property Id="FFMPEG_VERSION" Value="latest-win64-static" Secure="yes" />
    <Property Id="_FFMPEG_VERSION" Value="latest-win64-static">
      <RegistrySearch Id="FFMPEG_VERSION_reg" Type="raw" Root="HKLM" Key="Software\advancedfx\HLAE\FFMPEG" Name="version" />
    </Property>
    <SetProperty Sequence="first" Action="SetFFMPEG_VERSION" Id="FFMPEG_VERSION" After="AppSearch" Value="[_FFMPEG_VERSION]">1</SetProperty>

    <Property Id="FFMPEG_CUSTOM" Value="(unset)" Secure="yes">
      <RegistrySearch Id="FFMPEG_CUSTOM_reg" Type="file" Root="HKLM" Key="Software\advancedfx\HLAE\FFMPEG" Name="custom">
        <FileSearch Id="FFMPEG_CUSTOM_reg" Name="[FFMPEG_CUSTOM]" />
      </RegistrySearch>
    </Property>

    <Feature Id='Hlae' Title='!(loc.ApplicationName)' Display='expand' Level='1'
             ConfigurableDirectory='APPLICATIONFOLDER'
             AllowAdvertise='no' InstallDefault='local' Absent='disallow'>

      <ComponentRef Id="HlaeCoreRegistry"/>
      <ComponentGroupRef Id="HlaeComponentGroup" />
      <ComponentRef Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe"/>
      <ComponentRef Id="HlaeStartProgramsFolder"/>
	  
      <Feature Id="HlaeLocales" Title="!(loc.HlaeLocalesTitle)" Level="1"
               AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <ComponentGroupRef Id="LocalesComponentGroup" />
      </Feature>

      <Feature Id="FfmpegFeature" Title="!(loc.FfmpegTitle)" Description="!(loc.FfmpegDescription)"
              Level="1" Display="expand"
              AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <!-- If something in the FFMPEG install logic changes, theny you'll need to update the GUID, since this component is used to avoid unneccsary reinstalls. -->
        <Component Id='Ffmpeg' Guid='{2D1C78F6-D5B5-499E-B596-47429893F8A8}' Directory='_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg' NeverOverwrite='yes' KeyPath='yes'>
          <CreateFolder Directory="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" />
        </Component>
        <ComponentRef Id="FfmpegRegistry"/>
     </Feature>
  </Feature>
      
    <UI>
      <UIRef Id="MyWixUI_Mondo"/>
      <UIRef Id="WixUI_ErrorProgressText"/>      
      
      <ProgressText Action="InstallFfmpeg">!(loc.InstallFfmpeg)</ProgressText>
      
      <UIText Id="InstallFfmpegConnect">!(loc.InstallFfmpegConnect)</UIText>
      <UIText Id="InstallFfmpegConnect_Template">!(loc.InstallFfmpegConnect_Template)</UIText>
      <UIText Id="InstallFfmpegDownload">!(loc.InstallFfmpegDownload)</UIText>
      <UIText Id="InstallFfmpegDownload_Template">!(loc.InstallFfmpegDownload_Template)</UIText>
      <UIText Id="InstallFfmpegChecksum">!(loc.InstallFfmpegChecksum)</UIText>
      <UIText Id="InstallFfmpegChecksum_Template">!(loc.InstallFfmpegChecksum_Template)</UIText>
      <UIText Id="InstallFfmpegExtract">!(loc.InstallFfmpegExtract)</UIText>
      <UIText Id="InstallFfmpegExtract_Template">!(loc.InstallFfmpegExtract_Template)</UIText>
        
      <Error Id="25001">!(loc.AppFolderMustBeLatin)</Error>
	  
		<InstallUISequence>
			<Show Dialog="FfmpegDlg" Before="ProgressDlg">Installed AND (RESUME OR Preselected) AND ?Ffmpeg=3</Show>
		</InstallUISequence>
    </UI>
    
    <Property Id="AFX_FFMPEGURL" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2022-11-30-12-36/ffmpeg-n5.1.2-8-g5746987bad-win64-gpl-5.1.zip" />
    <Property Id="AFX_FFMPEGSUM" Value="18ae3d1904fa00d574d6134ecf7c120fd47db4011628c2e39c7680294d244ba128506d0f8c152e6cd9d630212acb579d1f9bbdd5220be32fb7e6d1c62e2cc947" />

    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_40" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2022-11-30-12-36/ffmpeg-n5.1.2-8-g5746987bad-win64-lgpl-shared-5.1.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_40" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="0486ffa87b1f92e733e90c3545044bb9b7a8a7d831d86b252026f72ac1df34cfd4a24841fc31ddbc135fc76205dc4053d5e44f48e8ff2290d745f54d3f9c294c">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_41" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2022-11-30-12-36/ffmpeg-n5.1.2-8-g5746987bad-win64-lgpl-5.1.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_41" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="015bbe4c6ef3099e3c67d416902e43e041b750aec63e917581df60563f4f510afccd7d42dc86f3869b37a45f6b775145b7a7f7ecafdcfb79f7bd0e7d97f7e93c">
      <![CDATA[FFMPEG_VERSION="latest-win64-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_42" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2022-11-30-12-36/ffmpeg-n5.1.2-8-g5746987bad-win64-gpl-shared-5.1.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_42" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="6552c7b0ab72d3ad00f6300728b150113d707a37fe96e17bbbdae029d1b56322126f058c4f886282bd168ce61580071cdd328f6b531607b94cd4f6b39ed6220f">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_43" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2022-11-30-12-36/ffmpeg-n5.1.2-8-g5746987bad-win64-gpl-5.1.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_43" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="18ae3d1904fa00d574d6134ecf7c120fd47db4011628c2e39c7680294d244ba128506d0f8c152e6cd9d630212acb579d1f9bbdd5220be32fb7e6d1c62e2cc947">
      <![CDATA[FFMPEG_VERSION="latest-win64-static"]]>
    </SetProperty>


    <InstallExecuteSequence>
      <Custom Action="ValidateAppFolderIsLatinAction" Before="CostFinalize">1</Custom>

      <Custom Action="FfmpegRollbackAction" Before="FfmpegUninstallAction"><![CDATA[ $Ffmpeg = 3 AND NOT Installed ]]></Custom>
      
      <Custom Action="FfmpegUninstallAction" Before="RemoveFiles"><![CDATA[?Ffmpeg<>2 AND $Ffmpeg=2 OR $Ffmpeg=3 AND FFMPEG_REINSTALL]]></Custom>

      <Custom Action="FfmpegCreateDirectory" Before="InstallFfmpegPrepareAction"><![CDATA[$Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3]]></Custom>
      <Custom Action="InstallFfmpegPrepareAction" Before="InstallFfmpegAction"><![CDATA[($Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3) AND FFMPEG_REINSTALL AND FFMPEG_VERSION <> "custom"]]></Custom>
      <Custom Action="InstallFfmpegAction" After="InstallFiles"><![CDATA[($Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3) AND FFMPEG_REINSTALL AND FFMPEG_VERSION <> "custom"]]></Custom>
      <Custom Action="FinalizeFfmpegInstallAction" After="InstallFfmpegAction"><![CDATA[$Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3]]></Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Binary Id='HlaeCoreExtension' SourceFile='$(var.HlaeCoreExtension.TargetDir)HlaeCoreExtension.CA.dll'/>

    <CustomAction Id='FfmpegCustomPathDlgAction' BinaryKey='HlaeCoreExtension' DllEntry='FfmpegCustomPathDlg' Execute='immediate' Return='check'/>
    <CustomAction Id='ValidateFfmpegCustomPathAction' BinaryKey='HlaeCoreExtension' DllEntry='ValidateFfmpegCustomPath' Execute='immediate' Return='check'/>
    <CustomAction Id='ValidateTargetPathAction' BinaryKey='HlaeCoreExtension' DllEntry='ValidateTargetPath' Execute='immediate' Return='check'/>
    
    <SetProperty Action="SetValidateAppFolderIsLatinAction" Id="APPLICATIONFOLDER" Value="[APPLICATIONFOLDER]" Before="ValidateAppFolderIsLatinAction" Sequence="execute" />
    <CustomAction Id='ValidateAppFolderIsLatinAction' BinaryKey='HlaeCoreExtension' DllEntry='ValidateAppFolderIsLatin' Execute='immediate' Return='check'/>
    
    <SetProperty Action="SetInstallFfmpegPrepareUrlAction" Id="AFX_FFMPEGURL" Value="[AFX_FFMPEGURL]" Before="InstallFfmpegPrepareAction" Sequence="execute" />
    <SetProperty Action="SetInstallFfmpegPrepareSumAction" Id="AFX_FFMPEGSUM" Value="[AFX_FFMPEGSUM]" Before="InstallFfmpegPrepareAction" Sequence="execute" />
    <SetProperty Action="SetInstallFfmpegPrepareFolderAction" Id="AFX_FFMPEGFOLDER" Value="[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="InstallFfmpegPrepareAction" Sequence="execute" />
    <CustomAction Id='InstallFfmpegPrepareAction' BinaryKey='HlaeCoreExtension' DllEntry='InstallFfmpegPrepare' Execute='immediate' Return='check' />
    <CustomAction Id='InstallFfmpegAction' BinaryKey='HlaeCoreExtension' DllEntry='InstallFfmpeg' Execute='deferred' Impersonate='no' Return='check'/>

    <SetProperty Action="SetFfmpegCreateDirectory" Id="FfmpegCreateDirectory" Value="AFX_CREATEFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FfmpegCreateDirectory" Sequence="execute" />
    <CustomAction Id='FfmpegCreateDirectory' BinaryKey='HlaeCoreExtension' DllEntry='CreateDirectory' Execute='deferred' Impersonate='no' Return='check'/>
    
    <SetProperty Action="SetFinalizeFfmpegInstallAction" Id="FinalizeFfmpegInstallAction" Value="FFMPEG_REINSTALL=[FFMPEG_REINSTALL];FFMPEG_VERSION=[FFMPEG_VERSION];FFMPEG_CUSTOM=[FFMPEG_CUSTOM];AFX_FFMPEGFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FinalizeFfmpegInstallAction" Sequence="execute" />
    <CustomAction Id='FinalizeFfmpegInstallAction' BinaryKey='HlaeCoreExtension' DllEntry='FinalizeFfmpegInstall' Execute='deferred' Impersonate='no' Return='check'/>

    <SetProperty Action="SetFfmpegRollbackAction" Id="FfmpegRollbackAction" Value="AFX_REMOVEFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FfmpegRollbackAction" Sequence="execute" />
    <CustomAction Id='FfmpegRollbackAction' BinaryKey='HlaeCoreExtension' DllEntry='RemoveFolder' Execute='rollback' Impersonate='no' Return='check'/>    
    
    <SetProperty Action="SetFfmpegUninstallAction" Id="FfmpegUninstallAction" Value="AFX_REMOVEFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FfmpegUninstallAction" Sequence="execute" />
    <CustomAction Id='FfmpegUninstallAction' BinaryKey='HlaeCoreExtension' DllEntry='RemoveFolder' Execute='deferred' Impersonate='no' Return='check'/>
</Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="HLAE">
          <Directory Id="LocalesDir" />
          <Directory Id="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" Name="ffmpeg"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="HLAE"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>   
    <DirectoryRef Id="APPLICATIONFOLDER">   
      <Component Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe">
        <File Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe" Name="HLAE.exe" Source="..\..\build\$(var.Configuration)\bin\HLAE.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Id="HaleStartMenuShortcut" 
                    Name="HLAE"
                    Directory="ApplicationProgramsFolder"
                    Description="Half-Life Advanced Effects"
                    WorkingDirectory="APPLICATIONFOLDER"
                    Icon="HLAEIcon.exe"
                    Advertise="yes"/>
        </File>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="TARGETDIR">
      <Component Id="HlaeCoreRegistry" Guid="{22E1FC75-9BBA-4B86-BE8E-E7D50E44B6E6}">
        <RegistryKey Root='HKLM' Key='Software\advancedfx\HLAE'>
          <RegistryValue Type="string" Name="APPLICATIONFOLDER" Value="[APPLICATIONFOLDER]" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="FfmpegRegistry" Guid="{9E45CDC6-E991-46DE-89A5-6A97D1E3AC12}">
        <CreateFolder Directory="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" />
        <RegistryKey Root='HKLM' Key='Software\advancedfx\HLAE\FFMPEG' ForceDeleteOnUninstall='yes' />
      </Component>
    </DirectoryRef>
    
    <Component Id="HlaeStartProgramsFolder" Guid="{89D3440C-0559-449F-B3A9-686573945374}" Directory="ApplicationProgramsFolder">
        <RemoveFolder Id="CleanUpHlaeShortCut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\advancedfx\HLAE" Name="scut" Value="1" Type="integer" KeyPath="yes"/>
    </Component>
	</Fragment>
</Wix>
