<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--
	Update this on "Major" release: Id, Version.
	Update this on Minor release: Version.
	For more information to decide between "Major" and Minor see here:
	https://www.firegiant.com/wix/tutorial/upgrades-and-modularization/
	-->
	<Product
    Id='{D51C3178-146A-412E-9C91-D7D6788B0E0C}'
    Version='2.117.0'
    Name="!(loc.ApplicationName)"
    Language="1033"
    Manufacturer="!(loc.Manufacturer)"
    UpgradeCode="{33FEF63B-4A17-4D59-ABC9-B7A06BD07F07}"
    Codepage="1252"
    >

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />


	<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

	<MediaTemplate EmbedCab="yes" />
       
    <Icon Id="HLAEIcon.exe" SourceFile="$(sys.SOURCEFILEDIR)../../hlae/app.ico"/>
    <Property Id="ARPPRODUCTICON" Value="HLAEIcon.exe" />
    
    <Property Id="ApplicationFolderName" Value="HLAE" />
    
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    
    <WixVariable Id="WixUISupportPerUser" Value="0" />
    
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    
    <Property Id="FFMPEG_REINSTALL" Value="1" Secure="yes" />
    <Property Id="_FFMPEG_REINSTALL" Value="#1">
      <RegistrySearch Id="FFMPEG_REINSTALL_reg" Type="raw" Root="HKLM" Key="Software\advancedfx\HLAE\FFMPEG" Name="reinstall"  />
    </Property>
    <SetProperty Sequence="first" Action="SetFFMPEG_REINSTALL_1" Id="FFMPEG_REINSTALL" After="AppSearch" Value="1"><![CDATA[_FFMPEG_REINSTALL = "#1" OR INSTALL AND NOT REINSTALL OR WIX_UPGRADE_DETECTED ]]></SetProperty>
    <SetProperty Sequence="first" Action="SetFFMPEG_REINSTALL_0" Id="FFMPEG_REINSTALL" After="AppSearch" Value="{}"><![CDATA[NOT (_FFMPEG_REINSTALL = "#1" OR INSTALL AND NOT REINSTALL OR WIX_UPGRADE_DETECTED )]]></SetProperty>

    <Property Id="FFMPEG_VERSION" Value="latest-win64-static" Secure="yes" />
    <Property Id="_FFMPEG_VERSION" Value="latest-win64-static">
      <RegistrySearch Id="FFMPEG_VERSION_reg" Type="raw" Root="HKLM" Key="Software\advancedfx\HLAE\FFMPEG" Name="version" />
    </Property>
    <SetProperty Sequence="first" Action="SetFFMPEG_VERSION" Id="FFMPEG_VERSION" After="AppSearch" Value="[_FFMPEG_VERSION]">1</SetProperty>

    <Property Id="FFMPEG_CUSTOM" Value="(unset)" Secure="yes">
      <RegistrySearch Id="FFMPEG_CUSTOM_reg" Type="file" Root="HKLM" Key="Software\advancedfx\HLAE\FFMPEG" Name="custom">
        <FileSearch Id="FFMPEG_CUSTOM_reg" Name="[FFMPEG_CUSTOM]" />
      </RegistrySearch>
    </Property>

    <Feature Id='Hlae' Title='!(loc.ApplicationName)' Display='expand' Level='1'
             ConfigurableDirectory='APPLICATIONFOLDER'
             AllowAdvertise='no' InstallDefault='local' Absent='disallow'>

      <ComponentRef Id="HlaeCoreRegistry"/>
      <ComponentGroupRef Id="HlaeComponentGroup" />
      <ComponentRef Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe"/>
      <ComponentRef Id="HlaeStartProgramsFolder"/>
	  
      <Feature Id="HlaeLocales" Title="!(loc.HlaeLocalesTitle)" Level="1"
               AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <ComponentGroupRef Id="LocalesComponentGroup" />
      </Feature>

      <Feature Id="FfmpegFeature" Title="!(loc.FfmpegTitle)" Description="!(loc.FfmpegDescription)"
              Level="1" Display="expand"
              AllowAdvertise='no' InstallDefault='local' Absent='allow'>
        <!-- If something in the FFMPEG install logic changes, theny you'll need to update the GUID, since this component is used to avoid unneccsary reinstalls. -->
        <Component Id='Ffmpeg' Guid='{2D1C78F6-D5B5-499E-B596-47429893F8A8}' Directory='_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg' NeverOverwrite='yes' KeyPath='yes'>
          <CreateFolder Directory="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" />
        </Component>
        <ComponentRef Id="FfmpegRegistry"/>
     </Feature>
  </Feature>
      
    <UI>
      <UIRef Id="MyWixUI_Mondo"/>
      <UIRef Id="WixUI_ErrorProgressText"/>      
      
      <ProgressText Action="InstallFfmpeg">!(loc.InstallFfmpeg)</ProgressText>
      
      <UIText Id="InstallFfmpegConnect">!(loc.InstallFfmpegConnect)</UIText>
      <UIText Id="InstallFfmpegConnect_Template">!(loc.InstallFfmpegConnect_Template)</UIText>
      <UIText Id="InstallFfmpegDownload">!(loc.InstallFfmpegDownload)</UIText>
      <UIText Id="InstallFfmpegDownload_Template">!(loc.InstallFfmpegDownload_Template)</UIText>
      <UIText Id="InstallFfmpegChecksum">!(loc.InstallFfmpegChecksum)</UIText>
      <UIText Id="InstallFfmpegChecksum_Template">!(loc.InstallFfmpegChecksum_Template)</UIText>
      <UIText Id="InstallFfmpegExtract">!(loc.InstallFfmpegExtract)</UIText>
      <UIText Id="InstallFfmpegExtract_Template">!(loc.InstallFfmpegExtract_Template)</UIText>
        
      <Error Id="25001">!(loc.AppFolderMustBeLatin)</Error>
	  
		<InstallUISequence>
			<Show Dialog="FfmpegDlg" Before="ProgressDlg">Installed AND (RESUME OR Preselected) AND ?Ffmpeg=3</Show>
		</InstallUISequence>
    </UI>
    
    <Property Id="AFX_FFMPEGURL" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2021-04-30-12-35/ffmpeg-N-102186-g8b83a4a885-win64-gpl.zip" />
    <Property Id="AFX_FFMPEGSUM" Value="4415664204f52a91838299bcaf74a35eb821e0295097b78d2353991cacd2ee84511a64522b6d3d6f2cba406079a1de7f7e1cf88b4939a71863b3a24f452cc659" />

    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_24" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3-win32-shared-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="4.3-win32-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_24" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="2622134e8a9ff5bd69d4dcfe0467012f6985ee68d759e659a9a78c82963fdfe78fc52b3b843e996d2cd2446e101d0b7d6852529b2f1e2c272b8f68fa9bcc1cc6">
      <![CDATA[FFMPEG_VERSION="4.3-win32-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_25" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3-win32-shared.zip">
      <![CDATA[FFMPEG_VERSION="4.3-win32-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_25" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="12585fe382f3050ed87132cef9289de44680c1ae7ce7cad1396b5eed00a862594f56dee62e53328d288de77ce8d512d5056d2f2defb14ea8b5ad4f2f121634a6">
      <![CDATA[FFMPEG_VERSION="4.3-win32-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_26" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3-win32-static-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="4.3-win32-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_26" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="acfdce30307d967d0f79acb0256934e8fdead2f61670fdf34b9282a1d1a9fc0437d20921c588ee7550c62c4198aff659ecddb701c2c1d741739575b5fec4fe40">
      <![CDATA[FFMPEG_VERSION="4.3-win32-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_27" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3-win64-shared-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="4.3-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_27" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="cc0f1f141b916bd7113943c9452719980008192aff9c64176eb94f4b22731db61c233855a951df829dc9e9050b596cf8a13b39092fd00aae7cab47a1f8d5892a">
      <![CDATA[FFMPEG_VERSION="4.3-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_28" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3-win64-shared.zip">
      <![CDATA[FFMPEG_VERSION="4.3-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_28" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="52e954708d9cf18f98d66acbdef88bdea76fd3b3dbe2f1097cd1ae4897273192ab18350fb7c7501093cf8ef1b5ab70dd2cf2f17c1cb5c43e07898a5a8ba87b52">
      <![CDATA[FFMPEG_VERSION="4.3-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_29" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3-win64-static-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="4.3-win64-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_29" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="341efce82787f512b67a8b242debd78083e4d9c681a5c4ec61db95307b19a97b27aa95000a4e816f4f77f0dae75bd04ed9a58f2daf78108d983dd654cb90caaf">
      <![CDATA[FFMPEG_VERSION="4.3-win64-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_30" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3-win64-static.zip">
      <![CDATA[FFMPEG_VERSION="4.3-win64-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_30" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="e29255de686c5cfe34af1f9a260b376ab8400b59121857ff0172e44f395545212eeadcc16637ec15e4087348105764d86e59603f51dea5475e185448d26f763a">
      <![CDATA[FFMPEG_VERSION="4.3-win64-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_31" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3.1-win32-shared-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_31" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="d8506c5cfabb219b32285e6bbaf3cca38bf486b8d8c8b7f9e4425dcb852ad40b9970f83f587ee2d7a83c5373bef74753fe1dcdb6aa48f76109be74abc7256f8c">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_32" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3.1-win32-shared.zip">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_32" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="3abcfbc457b978469aa7582a91bfb0904c0febe8952de94ddef1d92e81d89f8d7f5107000c6e5a43a1e00f6525d557d787f3516777ebb3bc2a3a86d0d018d2b4">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_33" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3.1-win32-static-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_33" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="9be85148079ab135a38622380f3a9307af8086c9982d9c2bfdebe427783afe48a2a2e63f113b7f4232814a3c8056032bdd6065358ba2e728cfbbe1eea7dfcb68">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_34" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3.1-win32-static.zip">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_34" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="822336566583e5bbabd140c927456346dec0c3b0f42685dc65dce3cb3e9d640e1cbb951c8d6442887ac51ba2337aa472d095af8f4326140ab2d5d6402f43019d">
      <![CDATA[FFMPEG_VERSION="4.3.1-win32-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_35" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-4.3.1-win64-shared-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="4.3.1-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_35" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="3cef1d9bdc9669ef1d461aa9772c151c229a2de47df76b11be70cebb63a2d83ada24df455d443002e9fffc7b5cd395a9bdcd525ee570093d2963965b772b90bb">
      <![CDATA[FFMPEG_VERSION="4.3.1-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_36" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-latest-win32-shared.zip">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win32-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_36" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="bd8c1fc91019f7efad5cc8bfb18233658431c96af29ea0b54bb8c2ac263d8225cfd1487236e221380ef377db750cb33d06e22f1d584c04d34662616ef313e495">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win32-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_37" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-latest-win32-static.zip">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win32-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_37" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="a17d5d5f9d71b71416f356f9b7ef3a2b2a2c399a0bf14b87a23cf021922f3e2c7948251f370507fdad59ff30ba828c92d0746817103a22e47396610c5273e416">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win32-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_38" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-latest-win64-shared.zip">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_38" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="9b1699c20ed047f246ba91426ea6c811f1d89bf14ced62e668e4cb22e20dbc079fe280a05a3758ad875490de007e453ac9ffe2d0985d05637f0b5ee87831f63c">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_39" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/advancedfx/ffmpeg.zeranoe.com-builds-mirror/releases/download/20200915/ffmpeg-latest-win64-static.zip">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win64-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_39" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="ed129d16cdc8701b934f49fba3cfff2b32bf127d70be2a655c35eb02757d06ea27045fe8408379c28d4edcd33d49ab91bc6ad4c6599fc6f9cabae8b4dece2d7a">
      <![CDATA[FFMPEG_VERSION="20200915-latest-win64-static"]]>
    </SetProperty>

    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_40" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2021-04-30-12-35/ffmpeg-N-102186-g8b83a4a885-win64-lgpl-shared.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_40" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="41b7444d7dd8c96bbbe4dec8948842043969318eed799a4aeb096395e7b43294c611d665a930129e9c36cd51a7d9f50a45fbe148c2203259db5a7c00be8ab149">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_41" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2021-04-30-12-35/ffmpeg-N-102186-g8b83a4a885-win64-lgpl.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_41" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="970260b57d39cbebeee189baead3d11f908e3b8d1ad96d32da6c0f8a0f1550254671c6eabf01cc663e1a0f6637092f77effdefa56dde1ec40d728bc2f891fa58">
      <![CDATA[FFMPEG_VERSION="latest-win64-static-lgpl"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_42" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2021-04-30-12-35/ffmpeg-N-102186-g8b83a4a885-win64-gpl-shared.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_42" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="cc2fb4304974b4bc93f6640f92a2eca2542f8c278342992f523c79c049724676546342eb47545db4f68c99a0d529a2dd9d45d87984a9e9d42a3e9713fd882786">
      <![CDATA[FFMPEG_VERSION="latest-win64-shared"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGURL_43" Id="AFX_FFMPEGURL" Before="SetInstallFfmpegPrepareUrlAction" Value="https://github.com/BtbN/FFmpeg-Builds/releases/download/autobuild-2021-04-30-12-35/ffmpeg-N-102186-g8b83a4a885-win64-gpl.zip">
      <![CDATA[FFMPEG_VERSION="latest-win64-static"]]>
    </SetProperty>
    <SetProperty Sequence="execute" Action="Set_AFX_FFMPEGSUM_43" Id="AFX_FFMPEGSUM" Before="SetInstallFfmpegPrepareUrlAction" Value="4415664204f52a91838299bcaf74a35eb821e0295097b78d2353991cacd2ee84511a64522b6d3d6f2cba406079a1de7f7e1cf88b4939a71863b3a24f452cc659">
      <![CDATA[FFMPEG_VERSION="latest-win64-static"]]>
    </SetProperty>


    <InstallExecuteSequence>
      <Custom Action="ValidateAppFolderIsLatinAction" Before="CostFinalize">1</Custom>

      <Custom Action="FfmpegRollbackAction" Before="FfmpegUninstallAction"><![CDATA[ $Ffmpeg = 3 AND NOT Installed ]]></Custom>
      
      <Custom Action="FfmpegUninstallAction" Before="RemoveFiles"><![CDATA[?Ffmpeg<>2 AND $Ffmpeg=2 OR $Ffmpeg=3 AND FFMPEG_REINSTALL]]></Custom>

      <Custom Action="FfmpegCreateDirectory" Before="InstallFfmpegPrepareAction"><![CDATA[$Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3]]></Custom>
      <Custom Action="InstallFfmpegPrepareAction" Before="InstallFfmpegAction"><![CDATA[($Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3) AND FFMPEG_REINSTALL AND FFMPEG_VERSION <> "custom"]]></Custom>
      <Custom Action="InstallFfmpegAction" After="InstallFiles"><![CDATA[($Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3) AND FFMPEG_REINSTALL AND FFMPEG_VERSION <> "custom"]]></Custom>
      <Custom Action="FinalizeFfmpegInstallAction" After="InstallFfmpegAction"><![CDATA[$Ffmpeg=3 OR $Ffmpeg<>2 AND ?Ffmpeg=3]]></Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Binary Id='HlaeCoreExtension' SourceFile='$(var.HlaeCoreExtension.TargetDir)HlaeCoreExtension.CA.dll'/>

    <CustomAction Id='FfmpegCustomPathDlgAction' BinaryKey='HlaeCoreExtension' DllEntry='FfmpegCustomPathDlg' Execute='immediate' Return='check'/>
    <CustomAction Id='ValidateFfmpegCustomPathAction' BinaryKey='HlaeCoreExtension' DllEntry='ValidateFfmpegCustomPath' Execute='immediate' Return='check'/>
    <CustomAction Id='ValidateTargetPathAction' BinaryKey='HlaeCoreExtension' DllEntry='ValidateTargetPath' Execute='immediate' Return='check'/>
    
    <SetProperty Action="SetValidateAppFolderIsLatinAction" Id="APPLICATIONFOLDER" Value="[APPLICATIONFOLDER]" Before="ValidateAppFolderIsLatinAction" Sequence="execute" />
    <CustomAction Id='ValidateAppFolderIsLatinAction' BinaryKey='HlaeCoreExtension' DllEntry='ValidateAppFolderIsLatin' Execute='immediate' Return='check'/>
    
    <SetProperty Action="SetInstallFfmpegPrepareUrlAction" Id="AFX_FFMPEGURL" Value="[AFX_FFMPEGURL]" Before="InstallFfmpegPrepareAction" Sequence="execute" />
    <SetProperty Action="SetInstallFfmpegPrepareSumAction" Id="AFX_FFMPEGSUM" Value="[AFX_FFMPEGSUM]" Before="InstallFfmpegPrepareAction" Sequence="execute" />
    <SetProperty Action="SetInstallFfmpegPrepareFolderAction" Id="AFX_FFMPEGFOLDER" Value="[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="InstallFfmpegPrepareAction" Sequence="execute" />
    <CustomAction Id='InstallFfmpegPrepareAction' BinaryKey='HlaeCoreExtension' DllEntry='InstallFfmpegPrepare' Execute='immediate' Return='check' />
    <CustomAction Id='InstallFfmpegAction' BinaryKey='HlaeCoreExtension' DllEntry='InstallFfmpeg' Execute='deferred' Impersonate='no' Return='check'/>

    <SetProperty Action="SetFfmpegCreateDirectory" Id="FfmpegCreateDirectory" Value="AFX_CREATEFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FfmpegCreateDirectory" Sequence="execute" />
    <CustomAction Id='FfmpegCreateDirectory' BinaryKey='HlaeCoreExtension' DllEntry='CreateDirectory' Execute='deferred' Impersonate='no' Return='check'/>
    
    <SetProperty Action="SetFinalizeFfmpegInstallAction" Id="FinalizeFfmpegInstallAction" Value="FFMPEG_REINSTALL=[FFMPEG_REINSTALL];FFMPEG_VERSION=[FFMPEG_VERSION];FFMPEG_CUSTOM=[FFMPEG_CUSTOM];AFX_FFMPEGFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FinalizeFfmpegInstallAction" Sequence="execute" />
    <CustomAction Id='FinalizeFfmpegInstallAction' BinaryKey='HlaeCoreExtension' DllEntry='FinalizeFfmpegInstall' Execute='deferred' Impersonate='no' Return='check'/>

    <SetProperty Action="SetFfmpegRollbackAction" Id="FfmpegRollbackAction" Value="AFX_REMOVEFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FfmpegRollbackAction" Sequence="execute" />
    <CustomAction Id='FfmpegRollbackAction' BinaryKey='HlaeCoreExtension' DllEntry='RemoveFolder' Execute='rollback' Impersonate='no' Return='check'/>    
    
    <SetProperty Action="SetFfmpegUninstallAction" Id="FfmpegUninstallAction" Value="AFX_REMOVEFOLDER=[_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg]" Before="FfmpegUninstallAction" Sequence="execute" />
    <CustomAction Id='FfmpegUninstallAction' BinaryKey='HlaeCoreExtension' DllEntry='RemoveFolder' Execute='deferred' Impersonate='no' Return='check'/>
</Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="HLAE">
          <Directory Id="LocalesDir" />
          <Directory Id="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" Name="ffmpeg"/>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="HLAE"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>   
    <DirectoryRef Id="APPLICATIONFOLDER">   
      <Component Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe">
        <File Id="_E77FBD5C_A4F1_429D_B750_9C270BD89C18_HLAE.exe" Name="HLAE.exe" Source="..\..\build\Release\bin\HLAE.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Id="HaleStartMenuShortcut" 
                    Name="HLAE"
                    Directory="ApplicationProgramsFolder"
                    Description="Half-Life Advanced Effects"
                    WorkingDirectory="APPLICATIONFOLDER"
                    Icon="HLAEIcon.exe"
                    Advertise="yes"/>
        </File>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="TARGETDIR">
      <Component Id="HlaeCoreRegistry" Guid="{22E1FC75-9BBA-4B86-BE8E-E7D50E44B6E6}">
        <RegistryKey Root='HKLM' Key='Software\advancedfx\HLAE'>
          <RegistryValue Type="string" Name="APPLICATIONFOLDER" Value="[APPLICATIONFOLDER]" KeyPath="yes" />
        </RegistryKey>
      </Component>
      <Component Id="FfmpegRegistry" Guid="{9E45CDC6-E991-46DE-89A5-6A97D1E3AC12}">
        <CreateFolder Directory="_8E237DD2_85C4_4D87_B4AD_4E18CE30595E_ffmpeg" />
        <RegistryKey Root='HKLM' Key='Software\advancedfx\HLAE\FFMPEG' ForceDeleteOnUninstall='yes' />
      </Component>
    </DirectoryRef>
    
    <Component Id="HlaeStartProgramsFolder" Guid="{89D3440C-0559-449F-B3A9-686573945374}" Directory="ApplicationProgramsFolder">
        <RemoveFolder Id="CleanUpHlaeShortCut" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\advancedfx\HLAE" Name="scut" Value="1" Type="integer" KeyPath="yes"/>
    </Component>
	</Fragment>
</Wix>
